<div class="addContainer">
  <div class="contact-form">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="marcaForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>
                Código de Marca
              </mat-label>
              <input matInput formControlName="codMarca" required [readonly]="readonly">
              <mat-error *ngIf="marcaForm.get('codMarca').hasError('required')">
                Código de Marca es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>
                Descripción de Marca
              </mat-label>
              <input matInput formControlName="desMarca" required>
              <mat-error *ngIf="marcaForm.get('desMarca').hasError('required')">
                Descripción de Marca es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!marcaForm.valid"
                [mat-dialog-close]="1" (click)="save()">
                {{grabar}}
              </button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>