<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <mat-tab-group mat-align-tabs="center" #tabGroup (selectedTabChange)="tabChanged($event)">
                <mat-tab label="DATOS DE LA ORDEN DE NORMALIZACIÓN">
                    <form [formGroup]="form">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Orden
                                    </mat-label>
                                    <input matInput value="{{ nroOrden }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Estado de Orden
                                    </mat-label>
                                    <input matInput value="{{ estadoWkf }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Informe
                                    </mat-label>
                                    <input matInput value="{{ nroNotificacion }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Notificación
                                    </mat-label>
                                    <input matInput value="{{ fechaNotificacion | date: 'd-M-Y' }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!-- INICIO CHR 04-07-23 -->
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Ejecución
                                    </mat-label>
                                    <input matInput value="{{ fechaEjecucion | date: 'd-M-Y' }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!-- FIN CHR 04-07-23 -->
                            <div class="col">
                                <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header">
                        <h2>
                            Datos del Cliente / Suministro
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de servicio eléctrico
                                    </mat-label>
                                    <input matInput value="{{ nroServicio }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Cuenta
                                    </mat-label>
                                    <input matInput value="{{ nroCuenta }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nombre del cliente
                                    </mat-label>
                                    <input matInput value="{{ cliente }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Dirección
                                    </mat-label>
                                    <input matInput value="{{ direccion }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Distrito
                                    </mat-label>
                                    <input matInput value="{{ distrito }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Ruta de lectura
                                    </mat-label>
                                    <input matInput value="{{ rutaLectura }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="header">
                        <h2>
                            Datos de la Orden
                        </h2>
                    </div>
                    <div class="body">
                        <h6>
                            Órdenes de Inspección notificadas (*)
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="ordenInspeccionNotificadas" matSort>
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                            
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                            <mat-radio-button (change)="check(row.id)" [checked]="true" *ngIf="row.id == idOrdenInspeccion" [disabled]="true">
                                            </mat-radio-button>
                                            <mat-radio-button (change)="check(row.id)" *ngIf="row.id != idOrdenInspeccion" [disabled]="true">
                                            </mat-radio-button>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nro">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nroOrden">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro de Orden
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.nroOrden}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fechaCreacion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Fecha de Creación
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="contratista">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Contratista
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.contratista}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="tipoInspeccion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Tipo de Inspección
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.tipoInspeccion}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <br />
                        <h6>
                            Irregularidades
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="irregularidades" matSort>
                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codigo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codigo}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="descripcion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Descripción
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.descripcion}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="generaCNR">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Genera CNR
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.generaCNR}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="generaOrdenNormalizacion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Genera Orden Normalización
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.generaOrdenNormalizacion}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="causal">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Causal
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.causal}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns2">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <br />
                        <h6>
                            Tareas
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="tareas" matSort>
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Realizado
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <mat-checkbox (change)="noRealizado(row.id)" *ngIf="row.tareaEstado == 'S'" checked [disabled]="true">
                                            </mat-checkbox>
                                            <mat-checkbox (change)="realizado(row.id)" *ngIf="row.tareaEstado == 'N'" [disabled]="true">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codAnormalidad">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código de Anormalidad
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codAnormalidad}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codTarea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código de tarea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codTarea}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="tarea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Descripción de tarea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.tarea}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns3">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Subtipo de Orden
                                    </mat-label>
                                    <mat-select formControlName="subtipo" [disabled]="true">
                                        <mat-option [value]="item.descripcion" *ngFor="let item of subtipos">{{ item.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Observaciones
                                    </mat-label>
                                    <textarea matInput formControlName="observaciones" [disabled]="true"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    </form>
                </mat-tab>
                <mat-tab label="DATOS DE TRANSFERENCIA">
                    <div class="row">
                        <div class="col-md-12 fondo">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Codigo Tipo Orden Legacy
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.codTipoOrdenLegacy }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro Orden Legacy
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.nroOrdenLegacy }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Codigo Tipo Orden Eorder
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.tipoOrden }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro Orden Eorder
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.nroOrdenEorder }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Codigo Estado de Orden
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.codEstadoOrden }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de Envios
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.nroEnvios }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de Recepciones
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.nroRecepciones }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>
                                        Suspendida
                                    </mat-label>
                                    <section class="example-section" *ngIf="ordenTransfer.suspendida == 'S'">
                                        <mat-checkbox class="example-margin" checked="true" [disabled]="true">SI</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">NO</mat-checkbox>
                                    </section>
                                    <section class="example-section" *ngIf="ordenTransfer.suspendida != 'S'">
                                        <mat-checkbox class="example-margin" [disabled]="true">SI</mat-checkbox>
                                        <mat-checkbox class="example-margin" checked="true" [disabled]="true">NO</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha Operación
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.fecOperacion | date:'dd-MM-yyyy HH:mm:ss' }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>
                                        Tiene Anexos
                                    </mat-label>
                                    <section class="example-section" *ngIf="ordenTransfer.tieneAnexos == 'S'">
                                        <mat-checkbox class="example-margin" checked="true" [disabled]="true">SI</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">NO</mat-checkbox>
                                    </section>
                                    <section class="example-section" *ngIf="ordenTransfer.tieneAnexos != 'S'">
                                        <mat-checkbox class="example-margin" [disabled]="true">SI</mat-checkbox>
                                        <mat-checkbox class="example-margin" checked="true" [disabled]="true">NO</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Codigo de Estado Anexo
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.codEstadoAnexo }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nombre de Archivo Anexo
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.nomArchAnexo }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Observaciones
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.observaciones }}" [disabled]="true">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-4"> <!--CHR 22-06-23-->
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Observaciones
                                        </mat-label>
                                        <textarea matInput class="no-expandir" rows="3" value="{{ ordenTransfer.observaciones }}" [disabled]="true"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha de Estado
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.fecEstado | date:'dd-MM-yyyy HH:mm:ss' }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de cuenta
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.nroCuenta }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>
                                        Creada Eorder
                                    </mat-label>
                                    <section class="example-section" *ngIf="ordenTransfer.creadaEorder == 0">
                                        <mat-checkbox class="example-margin" checked="true" [disabled]="true">{{ inicioCreacion }}</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true" >ForceBeat</mat-checkbox>
                                    </section>
                                    <section class="example-section" *ngIf="ordenTransfer.creadaEorder != 0">
                                        <mat-checkbox class="example-margin" [disabled]="true">{{ inicioCreacion }}</mat-checkbox>
                                        <mat-checkbox class="example-margin" checked="true" [disabled]="true"   >ForceBeat</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha de Creación
                                        </mat-label>
                                        <input matInput value="{{ ordenTransfer.fechaCreacion | date:'dd-MM-yyyy HH:mm:ss' }}" [disabled]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="DATOS ENVIO FORCEBEAT">
                    <div class="fondo">
                        <b>DATOS_COMUNES_PROCESOS_TDC:</b>
                        <br/><br/>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">VALOR_NIVEL_OPERATIVO_3:</p><p id="VALOR_NIVEL_OPERATIVO_3"></p></div>
                            <div class="card-information"><p class="card-information__comunes">PARAMETRO_NIVEL_OPERATIVO_3:</p><p id="PARAMETRO_NIVEL_OPERATIVO_3"></p></div>
                            <div class="card-information"><p class="card-information__comunes">FECHA_Y_HORA_DE_CREACION_DE_LA_ORDEN:</p><p id="FECHA_Y_HORA_DE_CREACION_DE_LA_ORDEN"></p></div>
                        </div>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">OBSERVACIONES:</p><p id="OBSERVACIONES"></p></div>
                            <div class="card-information"><p class="card-information__comunes">ZONA:</p><p id="ZONA"></p></div>
                            <div class="card-information"><p class="card-information__comunes">CENTRO_OPERATIVO:</p><p id="CENTRO_OPERATIVO"></p></div>
                        </div>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">TIPO_DE_RED:</p><p id="TIPO_DE_RED"></p></div>
                            <div class="card-information"><p class="card-information__comunes">SECTOR:</p><p id="SECTOR"></p></div>
                            <div class="card-information"><p class="card-information__comunes">CODIGO_CABINA_SECUNDARIA:</p><p id="CODIGO_CABINA_SECUNDARIA"></p></div>
                        </div>
                        <br/>
                        <div class="card-information___content">
                            
                            <div class="card-information__title">
                                SUMINISTROS
                            </div>
                        
                        <table class="table-class">
                            <tr>
                                <th>CODIGO_CLIENTE</th>
                                <th>NOMBRE_Y_APELLIDO_CLIENTE</th>
                                <th>CODIGO_TIPO_CLIENTE</th>
                                <th>RUTA_DE_LECTURA</th>
                                <th>TARIFA_EXISTENTE</th>
                                <th>LATITUD_CLIENTE</th>
                            </tr>
                            <tr>
                                <td>
                                    <p id="CODIGO_CLIENTE"></p>
                                </td>
                                <td>
                                    <p id="NOMBRE_Y_APELLIDO_CLIENTE"></p>
                                </td>
                                <td>
                                    <p id="CODIGO_TIPO_CLIENTE"></p>
                                </td>
                                <td>
                                    <p id="RUTA_DE_LECTURA"></p>
                                </td>
                                <td>
                                    <p id="TARIFA_EXISTENTE"></p>
                                </td>
                                <td>
                                    <p id="LATITUD_CLIENTE"></p>
                                </td>
                            </tr>
                        </table>
                        <table class="table-class">
                            <tr>
                                <th>LONGITUD_CLIENTE</th>
                                <th>NUMERO_VIA_DIRECCION</th>
                                <th>ID_COD_MUNICIPIO</th>
                                <th>PROVINCIA</th>
                                <th>CODIGO_POSTAL</th>
                                <th>TEXTO_DIRECCION</th>
                                <th>SUCURSAL</th>
                                <th>LOCALIDAD</th>
                            </tr>
                            <tr>
                                <td>
                                    <p id="LONGITUD_CLIENTE"></p>
                                </td>
                                <td>
                                    <p id="NUMERO_VIA_DIRECCION"></p>
                                </td>
                                <td>
                                    <p id="ID_COD_MUNICIPIO"></p>
                                </td>
                                <td>
                                    <p id="PROVINCIA"></p>
                                </td>
                                <td>
                                    <p id="CODIGO_POSTAL"></p>
                                </td>
                                <td>
                                    <p id="TEXTO_DIRECCION"></p>
                                </td>
                                <td>
                                    <p id="SUCURSAL"></p>
                                </td>
                                <td>
                                    <p id="LOCALIDAD"></p>
                                </td>
                            </tr>
                        </table>
                        </div>
                        
                        <div class="card-information___content">
                            <div id="divMedidors"> 
                            </div>
                        </div>
                        
                        <div class="card-information___content">
                            <div id="divAnexos">
                            </div>
                        </div>
                        
                        
                      <!--   <div id="divConsumos"></div> -->
                        
            
                        <div class="card-information___content">
                            <div id="divGESTION_IMPAGOS_SCR"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_NUEVAS_CONEXIONES"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_PERDIDAS_INSPECCIONES"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_PERDIDAS_NORMALIZACIONES"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_IMPAGOS_COBRANZA"></div>
                        </div>
                    </div>
                   
                </mat-tab>
                <mat-tab label="DATOS RECEPCIÓN FORCEBEAT">
                    <div class="fondo">

                        <b>DatosComunesProcesosTDC:</b>
                        <br/><br/>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">Codigo_Resultado:</p><p id="Codigo_Resultado_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Codigo_Causal_Resultado:</p><p id="Codigo_Causal_Resultado_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Codigo_Nota_Codificada:</p><p id="Codigo_Nota_Codificada_RECEPCION"></p></div>
                        </div>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">Inicio_TdC:</p><p id="Inicio_TdC_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Fin_TdC:</p><p id="Fin_TdC_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Duracion_Ejecucion:</p><p id="Duracion_Ejecucion_RECEPCION"></p></div>
                        </div>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">Matricula_Usuario:</p><p id="Matricula_Usuario_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Apellido_Usuario:</p><p id="Apellido_Usuario_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Nombre_Usuario:</p><p id="Nombre_Usuario_RECEPCION"></p></div>
                        </div>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">Placa_Vehiculo:</p><p id="Placa_Vehiculo_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">Codigo_Cuadrilla:</p><p id="Codigo_Cuadrilla_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">latitud_empalme:</p><p id="latitud_empalme_RECEPCION"></p></div>
                        </div>
                        <div class="flex-container">
                            <div class="card-information"><p class="card-information__comunes">latitud_medidor:</p><p id="latitud_medidor_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">longitud_empalme:</p><p id="longitud_empalme_RECEPCION"></p></div>
                            <div class="card-information"><p class="card-information__comunes">longitud_medidor:</p><p id="longitud_medidor_RECEPCION"></p></div>
                        </div>
                        <br/>
                        
                        <div class="card-information___content">
                            <div id="divMedidors_RECEPCION"> 
                            </div>
                        </div>
                        
                        <div class="card-information___content">
                            <div id="divAnexos_RECEPCION">
                            </div>
                        </div>
                        
                       
                        <div class="card-information___content">
                            <div id="divGESTION_IMPAGOS_SCR_RECEPCION"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_NUEVAS_CONEXIONES_RECEPCION"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_PERDIDAS_INSPECCIONES_RECEPCION"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_PERDIDAS_NORMALIZACIONES_RECEPCION"></div>
                        </div>
                        <div class="card-information___content">
                            <div id="divGESTION_IMPAGOS_COBRANZA_RECEPCION"></div>
                        </div>
        
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>