<style>
  .mat-flat-button {
    height: 48px !important;
    width: 48px !important;
  }
</style>
<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              Ingrese la información necesaria a la nueva marca. Tener en cuenta que los campos con etiquetas “(*)”
              son obligatorios
            </h2>
          </div>
          <div class="body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Código de Marca
                    </mat-label>
                    <input matInput formControlName="codMarca" maxlength="3" pattern="[a-zA-Z0-9 ]*">
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Descripción de Marca
                    </mat-label>
                    <input matInput formControlName="desMarca" maxlength="100" pattern="[a-zA-Z0-9 ]*">
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Fecha de creación (Desde)
                    </mat-label>
                    <span matPrefix>
                    </span>
                    <input formControlName="fechaInicio" matInput [matDatepicker]="pickerInicio"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInicio></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Fecha de creación (Hasta)
                    </mat-label>
                    <span matPrefix>
                    </span>
                    <input formControlName="fechaFin" matInput [matDatepicker]="pickerFin" [max]="maxDate"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFin></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Usuario Creador
                    </mat-label>
                    <input matInput formControlName="usuario" maxlength="50" pattern="[a-zA-Z0-9 ]*" oninput="this.value = this.value.toUpperCase()">
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <button mat-raised-button color="primary" (click)="getMarca()" [disabled]="!form.valid">
                    Filtrar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="body table-responsive">
          <div class="materialTableHeader">
            <div class="row">
              <div class="col-12">
                <ul class="header-buttons">
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="dialogCrearMarca()">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <mat-table #table [dataSource]="marcaPaginacion" matSort>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Nro
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                {{ i + 1 }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="codMarca">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Código de Marca
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.codigo}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="desMarca">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Descripción de Marca
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.descripcion}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaCreacion">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha creación
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.fecha | date:'dd-MM-yyyy HH:mm:ss'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="usuario">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Usuario
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.usuario}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Acción
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button class="btn tblActnBtn h-auto" mat-menu-item (click)="dialogCrearMarca(row)">
                  <i class="material-icons align-middle">create</i>
                  <span></span>
                </button>
                <button class="btn tblActnBtn h-auto" mat-menu-item (click)="dialogEliminarMarca(row)">
                  <i class="material-icons align-middle">delete_forever</i>
                  <span></span>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="totalElements" [pageSize]="totalPages" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChanged($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>