<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="titulo" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Realice las operaciones de creación de modelo de medidor, hay restriccciones en el sistema.
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Descripción de Marca
                                    </mat-label>
                                    <mat-select formControlName="id_marca" #marcaSelect (change)="getCodigoMarca(marcaSelect.value)">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="marca.id" *ngFor="let marca of marcas; let i = index">{{ marca.codigo }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Marca
                                    </mat-label>
                                    <input matInput formControlName="cod_marca" value="{{ !codigo_marca ? '' : codigo_marca[0].descripcion }}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Modelo
                                    </mat-label>
                                    <input matInput formControlName="cod_modelo">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Descripción de Modelo
                                    </mat-label>
                                    <input matInput formControlName="des_modelo">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Cantidad años
                                    </mat-label>
                                    <input matInput formControlName="cant_anos_vida">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Cantidad años en almacen
                                    </mat-label>
                                    <input matInput formControlName="cant_anos_almacen">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de sellos de medidor
                                    </mat-label>
                                    <input matInput formControlName="nro_sellos_medidor">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de sellos de bornera
                                    </mat-label>
                                    <input matInput formControlName="nro_sellos_bornera">
                                </mat-form-field>
                            </div>
                            <div class="col-8">
                                <mat-label>
                                    Opciones
                                </mat-label>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <input matInput [hidden]="true">
                                    <mat-checkbox class="example-margin" value="1" formControlName="es_reacondicionador">Reacondicionado</mat-checkbox>
                                    <mat-checkbox class="example-margin" value="1" formControlName="es_reseteado">Reseteado</mat-checkbox>
                                    <mat-checkbox class="example-margin" value="1" formControlName="es_patron">Patrón</mat-checkbox>
                                    <mat-checkbox class="example-margin" value="1" formControlName="es_totalizador">Totalizador</mat-checkbox>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Clase de medidor
                                    </mat-label>
                                    <input matInput formControlName="clase_medidor">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fase
                                    </mat-label>
                                    <mat-select formControlName="id_fase">
                                        <mat-option value="">Seleccionar</mat-option>
                                        <mat-option [value]="fase.id" *ngFor="let fase of fases">{{ fase.desFase }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Amperaje
                                    </mat-label>
                                    <mat-select formControlName="id_amperaje">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="amperaje.id" *ngFor="let amperaje of amperajes">{{ amperaje.desAmperaje }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tipo de medición
                                    </mat-label>
                                    <mat-select formControlName="id_tipo_medicion">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="tipoMedicion.id" *ngFor="let tipoMedicion of tipoMediciones">{{ tipoMedicion.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Voltaje
                                    </mat-label>
                                    <mat-select formControlName="id_voltaje">
                                        <mat-option>
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="voltaje.id" *ngFor="let voltaje of voltajes">{{ voltaje.desVoltaje }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tensión
                                    </mat-label>
                                    <mat-select formControlName="id_tension">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="tension.id" *ngFor="let tension of tensiones">{{ tension.desTension }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tecnologia
                                    </mat-label>
                                    <mat-select formControlName="id_tecnologia">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="tecnologia.id" *ngFor="let tecnologia of tecnologias">{{ tecnologia.desTecnologia }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Registrador
                                    </mat-label>
                                    <mat-select formControlName="id_registrador">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="registrador.id" *ngFor="let registrador of registradores">{{ registrador.desRegistrador }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Constante
                                    </mat-label>
                                    <input matInput formControlName="constante">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Unidad medida constante
                                    </mat-label>
                                    <mat-select formControlName="id_unidad_medida_constante">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="unidad.id" *ngFor="let unidad of unidadMedidaConstantes">{{ unidad.desUniMedConst }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Cantidad de hilos
                                    </mat-label>
                                    <input matInput formControlName="cant_hilos">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="body table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-12">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="icon-button-demo">
                                            <button mat-mini-fab color="primary" (click)="openModal()" *ngIf="ver == false">
                                                <mat-icon class="col-white">
                                                    add
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table [dataSource]="modeloData" matSort class="mat-cell">
                        <ng-container matColumnDef="nro">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Nro
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                {{ i + 1 }}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Medida
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.medida_descripcion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cant_ent">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Cant. Enteros
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.cantEnteros}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cant_dec">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Cant. Decimales
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.cantDecimales}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="factor_codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Factor codigo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.factor_codigo}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="factor_descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Factor descripción
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.factor_descripcion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="factor_valor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Factor valor
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.factor_valor}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div style="text-align: center">
                    <button mat-raised-button color="primary" [disabled]="!form.valid" *ngIf="ver == false" (click)="store()">
                        {{ boton }}
                    </button>
                    &nbsp;
                    <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-medidores/modelos']">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    
    </div>
</section>