<div class="scom-login__background" 
style="background-image: url('{{pathProd}}assets/scom-images/backgroundenel.jpg');">
  <div class="scom-login__content position-absolute top-50 translate-middle-y">
    <div class="scom-auth__content w-100">
      <div class="justify-content-center align-items-center">
        <div class="text-center">
          <div>
            <a class="logo-full"><img src="assets/scom-images/enel-logo-color.png" height="70px" alt="logo-full"></a>
          </div>
          <h4 class="font-20 mt-4">SISTEMA COMERCIAL SCOM </h4>
        </div>

        <div class="p-2 mt-5">
          <form [formGroup]="form">
            <div class="form-group mb-2" *ngIf="!showButtonValidarPerfil">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="username" required>
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error *ngFor="let validation of errorMessage.login.username.errors">
                  <span *ngIf="form.get('username').hasError(validation.type) && form.get('username')?.touched">
                    {{ validation.message }}
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group mb-2" *ngIf="!showButtonValidarPerfil">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password" required>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngFor="let validation of errorMessage.login.password.errors">
                  <span *ngIf="form.get('password').hasError(validation.type) && form.get('password')?.touched">
                    {{ validation.message }}
                  </span>
                </mat-error>
              </mat-form-field>

            </div>
            <div class="form-group mb-2" *ngIf="showButtonValidarPerfil">
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>
                      Perfil
                  </mat-label>
                  <mat-select formControlName="idPerfil">
                     <!--  <mat-option [value]="-1">Seleccionar</mat-option> -->
                      <mat-option [value]="perfil.id" *ngFor="let perfil of perfilesToken">{{
                          perfil.nombre }}</mat-option>
                  </mat-select>
                  <mat-error *ngFor="let validation of errorMessage.login.idPerfil.errors">
                    <span *ngIf="form.get('idPerfil').hasError(validation.type) && form.get('idPerfil')?.touched">
                      {{ validation.message }}
                    </span>
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="container-login100-form-btn" *ngIf="showButtonIngresar">
              <button mat-flat-button color="warn" class="login100-form-btn" (click)="onSubmit()" [disabled]="!form.valid">
                INGRESAR
              </button>
            </div>
            <div class="container-login100-form-btn" *ngIf="showButtonValidarPerfil">
              <button mat-flat-button color="warn" class="login100-form-btn"  (click)="onValidarPerfil()" [disabled]="!form.valid">
                VALIDAR PERFIL
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>