table
    width: 100%

.example-container
  min-width: 1000px
  max-width: 100%
  overflow: auto

.mat-column-fechaEdicion
    min-width:180px
    max-width:180px

.mat-column-userName
    min-width:100px
    max-width:100px

    
.mat-column-nombreCampoActualizado
    min-width:170px
    max-width:170px
    
.mat-column-valorAntes
    min-width:100px
    max-width:100px

.mat-column-valorDespues
    min-width:100px
    max-width:100px

.mat-column-comentario
    min-width:400px
    max-width:400px