<h2 mat-dialog-title>Historial de actualizaciones</h2>
<div class="header">
  <div class="row">
    <div class="col-3">
        
            <mat-label>
                Nro de Suministro
            </mat-label>
            <input matInput value="{{ inputData.nroSuministro }}" disabled="true">
     
    </div>
    <div class="col-3">
   
            <mat-label>
                Nro de Notificación
            </mat-label>
            <input matInput value="{{ inputData.nroNotificacion }}" disabled="true">
 
    </div>
  </div>
</div>
<br>
<mat-dialog-content class="">
       
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                            
                      <div class="body table-responsive">
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell example-container">
                          <ng-container matColumnDef="fechaEdicion"  width ="400px">
                            <mat-header-cell *matHeaderCellDef>
                            Fecha Edicion
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.fechaEdicion}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="userName">
                            <mat-header-cell *matHeaderCellDef>
                                Usuario
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.userName}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="nombreCampoActualizado">
                            <mat-header-cell *matHeaderCellDef>
                             Campo Actualizado
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.nombreCampoActualizado}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="valorAntes">
                            <mat-header-cell *matHeaderCellDef>
                              Valor Antes
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.valorAntes}}
                              <i class="undefined-value" *ngIf="row.valorAntes == null" >Undefined</i>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="valorDespues">
                            <mat-header-cell *matHeaderCellDef>
                              Valor Despues
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.valorDespues}}
                              <i class="undefined-value" *ngIf="row.valorDespues == null" >Undefined</i>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="comentario">
                            <mat-header-cell *matHeaderCellDef>
                                Comentario
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.comentario}}
                              <i class="undefined-value" *ngIf="row.comentario == null" >Undefined</i>
                            </mat-cell>
                          </ng-container>
                          
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                          </mat-row>
                        </mat-table>
                  </div>
                  <mat-paginator [length]="totalElements"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[10, 25, 100]"
                  (page)="pageChanged($event)"
                  aria-label="Select page">
                  </mat-paginator>
                </div>
                
              </div>
        </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Cerrar</button>
</div>