<style>
    .mat-flat-button {
      height: 48px !important;
      width: 48px !important;
    }
  </style>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>
                  Realice las operaciones de edición de datos de las órdenes de tipo <strong>inspección</strong>, los datos habilitados para editar son : Cargas, Fecha de Notificación y Lectura.
                  <br/>
                  Luego de actualizar los datos la inspección en esta interfaz, los cambios serán reflejados automáticamente en el sistema CNR, para validarlo deberá ingresar al módulo web de CNR Valorizador.
                </h2>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Número de Suministro:
                      </mat-label>
                      <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroSuministro">
                      <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                        <span *ngIf="form.get('nroSuministro').hasError(validation.type) && form.get('nroSuministro')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Número de Notificación:
                      </mat-label>
                      <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroNotificacion">
                      <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                        <span *ngIf="form.get('nroNotificacion').hasError(validation.type) && form.get('nroNotificacion')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <button mat-raised-button color="primary" (click)="submitOrdenTrabajo()" [disabled]="!form.valid">
                      Filtrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div class="row">
          <div class="col-md-12">
                <!--<div class="materialTableHeader">
              
                  <ul class="header-buttons">
                    <li>
                      <div class="icon-button-demo">
                          <button mat-mini-fab color="primary" matTooltip="Exportar XLSX" 
                          (click)="exportFile()" >
                              <mat-icon class="col-white">download</mat-icon>
                          </button>
                      </div>
                  </li>
                  </ul>
                </div>-->

                <div class="body table-responsive">
                  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell example-container">
                    <ng-container matColumnDef="nroSuministro">
                      <mat-header-cell *matHeaderCellDef>
                        N° Suministro
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.nroSuministro}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nroNotificacion">
                      <mat-header-cell *matHeaderCellDef>
                        N° Notificacion
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.nroNotificacion}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="codExpedienteCNR">
                      <mat-header-cell *matHeaderCellDef>
                        N° Expediente CNR
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.codExpedienteCNR}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nombreExpedienteCNR">
                      <mat-header-cell *matHeaderCellDef>
                        Nombre Expediente CNR
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.nombreExpedienteCNR}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cargaR">
                      <mat-header-cell *matHeaderCellDef>
                        Carga R
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.cargaR}}
                        <i class="undefined-value"  *ngIf="row.cargaR == null" title="Dato no obtenido">Undefined</i>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cargaS">
                      <mat-header-cell *matHeaderCellDef>
                        Carga S
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.cargaS}}
                        <i class="undefined-value"  *ngIf="row.cargaS == null" title="Dato no obtenido">Undefined</i>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cargaT">
                      <mat-header-cell *matHeaderCellDef>
                        Carga T
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.cargaT}}
                        <i class="undefined-value"  *ngIf="row.cargaT == null" title="Dato no obtenido">Undefined</i>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lectura">
                      <mat-header-cell *matHeaderCellDef  matTooltip="Valor obtenido de CNR, es el restulado del proceso de valorización">
                        Lectura
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.lecturaNotificacion == null? '': row.lecturaNotificacion}}
                        <i class="undefined-value" *ngIf="row.lecturaNotificacion == null" title="Dato no obtenido">Undefined</i>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaNotificacion">
                      <mat-header-cell *matHeaderCellDef>
                        Fecha Notificacion
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.fechaNotificacion}}
                      </mat-cell>
                    </ng-container>
                   
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="w-85">
                        Acción
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-85">
                        <button  class="btn tblActnBtn h-auto" mat-menu-item
                          (click)="showModalEdit(row)">
                          <i class="material-icons align-middle">
                            edit
                          </i>
                        </button>
                        <button class="btn tblActnBtn h-auto" mat-menu-item 
                          (click)="showEditHistorial(row)">
                          <i class="material-icons align-middle">
                            remove_red_eye
                          </i>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </mat-table>
            </div>
            <mat-paginator [length]="totalElements"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10, 25, 100]"
            (page)="pageChanged($event)"
            aria-label="Select page">
            </mat-paginator>
          </div>
          
        </div>
    
    </div>
  </section>