::ng-deep 
    .mat-tooltip
        font-size: 14px

.mat-column-nroSuministro
  min-width: 10%
  max-width: 10%
.mat-column-nroNotificacion
  min-width: 10%
  max-width: 10%
.mat-column-codExpedienteCNR
  min-width: 10%
  max-width: 10%
.mat-column-nombreExpedienteCNR
  min-width: 15%
  max-width: 15%
  font-size: 12px
.mat-column-cargaR
  min-width: 7%
  max-width: 7%
  background: #feffde
  padding-left: 7px
.mat-column-cargaS
  min-width: 7%
  max-width: 7%
  padding-left: 7px
  background: #feffde
.mat-column-cargaT
  min-width: 7%
  max-width: 7%
  padding-left: 7px
  background: #feffde
.mat-column-lectura
  min-width: 7%
  max-width: 7%
  padding-left: 7px
  background: #feffde
.mat-column-fechaNotificacion
  min-width: 7%
  max-width: 7%
  padding-left: 7px
  background: #feffde
.mat-column-actions
  padding-left: 7px