<div class="scom-login__background" style="background-image: url('{{pathProd}}/assets/scom-images/error-acceso.jpg');">

  <div class="scom-login__content position-absolute top-50 translate-middle-y w-30">

    <div class="scom-auth__content">

      <div class="justify-content-center align-items-center">

        <div class="text-center">

          <div class="font-20  padding-error">DISCÚLPENOS, PÁGINA NO ENCONTRADA</div>

          <div class="font-15 padding-error container-text__body">La página solicitada no existe o no se encuentra disponible.</div>

          <div class="container-login100-form-btn">

            <button mat-flat-button color="warn" class="login100-form-btn" (click)="irLogin()">

              Ir a Login

            </button>

          </div>

      </div>

    </div>

  </div>

</div>