
.scom-login__content {

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.91) 0%, rgba(255, 255, 255, 0) 100%);

    padding: 25px;

    min-width: 320px;

    border-radius: 15px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

    left: 0%;

    @media (min-width: 992px) {

        padding: 30px;

        min-width: 440px;

        left: 12%

    }

}

.scom-login__background {

    height: 100vh;

    background-size: cover;

    background-position: center;

    /* background-image: url("/assets/scom-images/error-acceso.jpg"); */

}



.scom-auth__content {

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.92) 100%);

    border-radius: 15px;

    padding: 10px;

    @media (min-width: 992px) {

        padding: 30px;

    }  

}



.padding-error {

    padding-bottom: 40px;

}



.container-text__title {

    font-weight: 900;

}

.container-text__body {

    max-width: 380px;

}