<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <mat-tab-group mat-align-tabs="center" #tabGroup>
                <mat-tab label="DATOS DE LA ORDEN PLAN DE MANTENIMIENTO">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de Orden
                                                    </mat-label>
                                                    <input matInput value="{{ nroOrden }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Numero de cuenta
                                                    </mat-label>
                                                    <input matInput formControlName="nroCuenta">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Estado de Orden
                                                    </mat-label>
                                                    <input matInput value="{{ estadoWkf }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true">
                                                    Buscar
                                                </button>
                                            </div>
                                        </div>
                        <!-- R.I. REQSCOM08 12/07/2023 INICIO -->
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Creación
                                    </mat-label>
                                    <input matInput value="{{ fechaCreacionOrden }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Ejecución
                                    </mat-label>
                                    <input matInput value="{{ fechaEjecucion }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Observaciones del Técnico
                                    </mat-label>
                                    <textarea matInput [value]="observacionTecnico" disabled="true" style="height: auto; height: 100px !important; overflow-y: hidden; resize: none !important;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- R.I. REQSCOM08 12/07/2023 FIN -->
                                    </div>
                                    <div class="header">
                                        <h2>
                                            Datos del Cliente / Suministro
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de servicio
                                                    </mat-label>
                                                    <input matInput value="{{ nroServicio }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de Cuenta
                                                    </mat-label>
                                                    <input matInput value="{{ nroCuenta }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nombre del cliente
                                                    </mat-label>
                                                    <input matInput value="{{ cliente }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Dirección
                                                    </mat-label>
                                                    <input matInput value="{{ direccion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Distrito
                                                    </mat-label>
                                                    <input matInput value="{{ distrito }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Ruta de lectura
                                                    </mat-label>
                                                    <input matInput value="{{ rutaLectura }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Documento
                                                    </mat-label>
                                                    <input matInput value="{{ documento }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Tipo Acometida
                                                    </mat-label>
                                                    <input matInput value="{{ tipoAcometida }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">
                                        <h2>
                                            Datos de la Orden
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Motivo
                                                    </mat-label>
                                                    <!-- PLM -->
                                                    <input matInput value="PLAN MANTENIMIENTO" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Tema
                                                    </mat-label> 
                                                    <!-- 066 -->
                                                    <input matInput value="TRABAJOS MANTENIMIENTO" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Trabajo
                                                    </mat-label>
                                                    <mat-select formControlName="idTrabajo">
                                                        <mat-option [value]="item.id" *ngFor="let item of trabajos">{{ item.descripcion }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Prioridad
                                                    </mat-label>
                                                    <mat-select formControlName="idPrioridad">
                                                        <mat-option [value]="item.id" *ngFor="let item of prioridades">{{ item.desPrioridad }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Tipo Responsable
                                                    </mat-label>
                                                    <mat-select formControlName="idTipoResponsable" (selectionChange)="getResponsable($event.value)">
                                                        <mat-option [value]="item.id" *ngFor="let item of tipoResponsable">{{ item.descripcion }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Responsable
                                                    </mat-label>
                                                    <mat-select formControlName="idResponsable" [disabled]="true">
                                                        <mat-option [value]="item.id" *ngFor="let item of responsables">{{ item.descripcion }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <h6>
                                                Medidores
                                            </h6>
                                            <div class="row">
                                                <div class="col-md-12 example-container">
                                                    <mat-table #table [dataSource]="medidores" matSort>
                                                        <ng-container matColumnDef="id">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Nro
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row; let i = index">
                                                                {{ i + 1 }}
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="accionMedidor">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Acción Medidor
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                {{row.accionMedidor}}
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="fechaLectura">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Fecha de Lectura
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                {{row.fechaLectura}}
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="marcaMedidor">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Marca
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                {{row.marcaMedidor}}
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="modeloMedidor">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Modelo
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                {{row.modeloMedidor}}
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="numeroMedidor">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                Numero
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                {{row.numeroMedidor}}
                                                            </mat-cell>
                                                        </ng-container>
                                                        <ng-container matColumnDef="detalles">
                                                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                                            <mat-cell *matCellDef="let row">
                                                                <button mat-button (click)="mostrarDetalles(row)">Ver lecturas</button>
                                                            </mat-cell>
                                                        </ng-container>
                                                        <mat-header-row *matHeaderRowDef="displayedColumns3">
                                                        </mat-header-row>
                                                        <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                                                        </mat-row>
                    
                                                        <!-- Fila expandible para mostrar los detalles de las lecturas -->
                                                        
                                                    </mat-table>
                                                </div>
                                            </div>
                    
                                            <!-- Contenedor para mostrar los detalles de las lecturas -->
                                            <div *ngIf="medidorSeleccionado">
                                                <h6>Detalles de Lecturas</h6>
                                                <div class="row">
                                                    <div class="col-md-12 example-container">
                                                        <mat-table #detalleTable [dataSource]="detallesMedidor" matSort>
                                                            <ng-container matColumnDef="tipoLectura">
                                                                <mat-header-cell *matHeaderCellDef>Tipo de Lectura</mat-header-cell>
                                                                <mat-cell *matCellDef="let row">{{ row.tipoLectura }}</mat-cell>
                                                            </ng-container>
                                                            <ng-container matColumnDef="horarioLectura">
                                                                <mat-header-cell *matHeaderCellDef>Horario de Lectura</mat-header-cell>
                                                                <mat-cell *matCellDef="let row">{{ row.horarioLectura }}</mat-cell>
                                                            </ng-container>
                                                            <ng-container matColumnDef="estadoLeido">
                                                                <mat-header-cell *matHeaderCellDef>Estado Leído</mat-header-cell>
                                                                <mat-cell *matCellDef="let row">{{ row.estadoLeido }}</mat-cell>
                                                            </ng-container>
                                                            <ng-container matColumnDef="fechaLectura">
                                                                <mat-header-cell *matHeaderCellDef>Fecha de Lectura</mat-header-cell>
                                                                <mat-cell *matCellDef="let row">{{ row.fechaLectura }}</mat-cell>
                                                            </ng-container>
                                                            <mat-header-row *matHeaderRowDef="displayedColumnsDetalles"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumnsDetalles;"></mat-row>
                                                        </mat-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="header">
                                            <h2>
                                                Tareas
                                            </h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-table #table [dataSource]="irregularidades" matSort class="mat-cell">
                                                    <ng-container matColumnDef="id">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Nro
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row; let i = index">
                                                            {{ i + 1 }}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="codigo">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Código
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.codigo}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="tarea">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Tarea
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.tarea }}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="tipoTarea">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Tipo
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.tipoTarea }}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="displayedColumns2">
                                                    </mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                            <div class="col-12">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Observaciones
                                                    </mat-label>
                                                    <textarea matInput formControlName="observaciones"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo-scom']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>