<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <mat-tab-group mat-align-tabs="center" #tabGroup>
                <mat-tab label="DATOS DE LA ORDEN DE NORMALIZACIÓN">
                    <form [formGroup]="form">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Orden
                                    </mat-label>
                                    <input matInput value="{{ nroOrden }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Estado de Orden
                                    </mat-label>
                                    <input matInput value="{{ estadoWkf }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Informe
                                    </mat-label>
                                    <input matInput value="{{ nroNotificacion }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Notificación
                                    </mat-label>
                                    <input matInput value="{{ fechaNotificacion | date: 'd-M-Y' }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true">
                                    Buscar
                                </button>
                            </div>
                        </div>
                        <!-- R.I. REQSCOM08 12/07/2023 INICIO -->
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Creación
                                    </mat-label>
                                    <input matInput value="{{ fechaCreacionOrden }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Ejecución
                                    </mat-label>
                                    <input matInput value="{{ fechaEjecucion }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!-- R.I. REQSCOM03 14/07/2023 INICIO -->
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Resultado
                                    </mat-label>
                                    <input matInput value="{{ codigoResultado }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!-- R.I. REQSCOM03 14/07/2023 FIN -->
                        </div>
                        <!-- R.I. REQSCOM02 13/07/2023 INICIO -->
                        <!-- R.I. REQSCOM02 13/07/2023 FIN -->
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Observaciones del Técnico
                                    </mat-label>
                                    <textarea matInput [value]="observacionTecnico" disabled="true" style="height: auto; height: 100px !important; overflow-y: hidden; resize: none !important;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- R.I. REQSCOM08 12/07/2023 FIN -->
                    </div>
                    <div class="header">
                        <h2>
                            Datos del Cliente / Suministro
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de servicio eléctrico
                                    </mat-label>
                                    <input matInput value="{{ nroServicio }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Cuenta
                                    </mat-label>
                                    <input matInput value="{{ nroCuenta }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nombre del cliente
                                    </mat-label>
                                    <input matInput value="{{ cliente }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Dirección
                                    </mat-label>
                                    <input matInput value="{{ direccion }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Distrito
                                    </mat-label>
                                    <input matInput value="{{ distrito }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Ruta de lectura
                                    </mat-label>
                                    <input matInput value="{{ rutaLectura }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- R.I. REQSCOM03 14/07/2023 INICIO -->
                    <div class="header">
                        <h2>
                            Datos de Gestión de Pérdidas de Normalización
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        ¿Se cambió el medidor?
                                    </mat-label>
                                    <input matInput value="{{ seCambioElMedidor }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Contratista
                                    </mat-label>
                                    <input matInput value="{{ codigoContratista }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!--<div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro notificación
                                    </mat-label>
                                    <input matInput value="{{ nroNotificacionInspeccion }}" disabled="true">
                                </mat-form-field>
                            </div>-->
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Inspección Asociada
                                    </mat-label>
                                    <input matInput value="{{ codidoTdcInspeccionAsociada }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tipo Anomalía
                                    </mat-label>
                                    <input matInput value="{{ tipoAnomalia }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <h6>
                            Medidores
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="medidores" matSort>
                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="accionMedidor">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Acción Medidor
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.accionMedidor}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fechaLectura">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Fecha de Lectura
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.fechaLectura}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="marcaMedidor">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Marca
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.marcaMedidor}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="modeloMedidor">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Modelo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.modeloMedidor}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="numeroMedidor">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Numero
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.numeroMedidor}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="detalles">
                                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button mat-button (click)="mostrarDetalles(row)">Ver lecturas</button>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns4">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns4;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>

                                    <!-- Fila expandible para mostrar los detalles de las lecturas -->
                                    
                                </mat-table>
                            </div>
                        </div>

                        <!-- Contenedor para mostrar los detalles de las lecturas -->
                        <div *ngIf="medidorSeleccionado">
                            <h6>Detalles de Lecturas</h6>
                            <div class="row">
                                <div class="col-md-12 example-container">
                                    <mat-table #detalleTable [dataSource]="detallesMedidor" matSort>
                                        <ng-container matColumnDef="tipoLectura">
                                            <mat-header-cell *matHeaderCellDef>Tipo de Lectura</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{ row.tipoLectura }}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="horarioLectura">
                                            <mat-header-cell *matHeaderCellDef>Horario de Lectura</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{ row.horarioLectura }}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="estadoLeido">
                                            <mat-header-cell *matHeaderCellDef>Estado Leído</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{ row.estadoLeido }}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="fechaLectura">
                                            <mat-header-cell *matHeaderCellDef>Fecha de Lectura</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{ row.fechaLectura }}</mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsDetalles"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsDetalles;"></mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- R.I. REQSCOM03 14/07/2023 INICIO -->
                    <div class="header">
                        <h2>
                            Datos de la Orden
                        </h2>
                    </div>
                    <div class="body">
                        <h6>
                            Órdenes de Inspección notificadas (*)
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="ordenInspeccionNotificadas" matSort>
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                            
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                            <mat-radio-button (change)="check(row.id)" [checked]="true" *ngIf="row.id == idOrdenInspeccion" [disabled]="true">
                                            </mat-radio-button>
                                            <mat-radio-button (change)="check(row.id)" *ngIf="row.id != idOrdenInspeccion" [disabled]="true">
                                            </mat-radio-button>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nro">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nroOrden">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro de Orden
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.nroOrden}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fechaCreacion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Fecha de Creación
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="contratista">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Contratista
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.contratista}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="tipoInspeccion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Tipo de Inspección
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.tipoInspeccion}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <br />
                        <h6>
                            Irregularidades
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="irregularidades" matSort>
                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codigo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codigo}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="descripcion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Descripción
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.descripcion}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="generaCNR">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Genera CNR
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.generaCNR}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="generaOrdenNormalizacion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Genera Orden Normalización
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.generaOrdenNormalizacion}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="causal">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Causal
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.causal}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns2">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <br />
                        <h6>
                            Tareas
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="tareas" matSort>
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Realizado
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="cell-with-spacing">
                                            <mat-checkbox (change)="noRealizado(row.id)" *ngIf="row.tareaEstado == 'S'" checked [disabled]="true">
                                            </mat-checkbox>
                                            <mat-checkbox (change)="realizado(row.id)" *ngIf="row.tareaEstado == 'N'" [disabled]="true">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codAnormalidad">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código de Anormalidad
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="cell-with-spacing">
                                            {{row.codAnormalidad}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codTarea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código de tarea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="cell-with-spacing">
                                            {{row.codTarea}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="tarea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Descripción de tarea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="cell-with-spacing">
                                            {{row.tarea}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="ejecutada">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Ejecutada
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="cell-with-spacing">
                                            {{row.ejecutada}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns3">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Subtipo de Orden
                                    </mat-label>
                                    <mat-select formControlName="subtipo" [disabled]="true">
                                        <mat-option [value]="item.descripcion" *ngFor="let item of subtipos">{{ item.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!--<div class="col-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Observaciones
                                    </mat-label>
                                    <textarea matInput formControlName="observaciones" [disabled]="true"></textarea>
                                </mat-form-field>
                            </div>-->
                        </div>
                    </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo-scom']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>