<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ingrese la información necesaria a la nueva orden. Tener en cuenta que los campos con
                        etiquetas
                        “(*)” son obligatorios
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de Orden
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de servicio eléctrico
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <button mat-flat-button color="primary" class="mat-flat-button">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <h2>
                        Datos del Cliente / Suministro
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de servicio
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Cuenta
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nombre del cliente
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Dirección
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Distrito
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Ruta de lectura
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <h2>
                        Datos de la Orden
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tipo de Inspeccióno
                                </mat-label>
                                <mat-select>
                                    <mat-option value="">
                                        Seleccionar
                                    </mat-option>
                                    <mat-option>
                                        Normal
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Denuncia realizada por
                                </mat-label>
                                <mat-select>
                                    <mat-option value="">
                                        Cliente
                                    </mat-option>
                                    <mat-option>
                                        Tercero
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Motivo
                                </mat-label>
                                <mat-select>
                                    <mat-option value="">
                                        Inspección de quiebre
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Producto
                                </mat-label>
                                <mat-select>
                                    <mat-option value="">
                                        QBR OCA CALIDAD MEDIO A..
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Contratista
                                </mat-label>
                                <mat-select>
                                    <mat-option value="">
                                        Cliente
                                    </mat-option>
                                    <mat-option value="">
                                        Tercero
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Entre calles
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput [hidden]="true">
                                <mat-checkbox class="example-margin" value="1" formControlName="es_reacondicionador">
                                    Pedir información complementaria
                                </mat-checkbox>
                                <mat-checkbox class="example-margin" value="1" formControlName="es_totalizador">
                                    Autogenerado</mat-checkbox>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="primary">
                    Guardar
                </button>
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>