<div class="addContainer">
  <div class="contact-form">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">Agregar nueva medida</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="form">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <!-- <div class="col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                  Medida
                </mat-label>
                <mat-select formControlName="id_medida" required>
                  <mat-option value="">
                    Seleccionar
                  </mat-option>
                  <mat-option [value]="medida.id + '-' + medida.desMedida" *ngFor="let medida of medidas">{{ medida.desMedida }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('id_medida').hasError('required')">
                  Medida es requerido
                </mat-error>
              </mat-form-field>
            </div> -->
            <!-- <div class="col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                  Cantidad de enteros y decimales
                </mat-label>
                <mat-select formControlName="id_ent_dec" required>
                  <mat-option value="">
                    Seleccionar
                  </mat-option>
                  <mat-option [value]="ent.id + '-' + ent.cantEnteros + '-' + ent.cantDecimales" *ngFor="let ent of entDec">{{ ent.cantEnteros }} - {{ ent.cantDecimales }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('id_ent_dec').hasError('required')">
                  Cantidad de enteros y decimales es requerido
                </mat-error>
              </mat-form-field>
            </div> -->
            <div class="col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                  Factor
                </mat-label>
                <mat-select formControlName="id_factor" required>
                  <mat-option value="">
                    Seleccionar
                  </mat-option>
                  <mat-option [value]="factor.id + '-' + factor.codFactor + '-' + factor.desFactor + '-' + factor.valFactor" *ngFor="let factor of factores">{{ factor.desFactor }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('id_factor').hasError('required')">
                  Fase es requerido
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [disabled]="!form.valid"
                [mat-dialog-close]="1" (click)="save()">
                Agregar
              </button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>