.content_chart {
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
}

.content_title {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.w-60 {
    max-width: 60px !important;
}

.pr-30 {
    padding-right: 70px;
}
//INICIO - REQ # 7 - JEGALARZA 

.w-90 {
    max-width: 90px !important;
}
.materialTableHeader{
    width: 2200px;
}
.table-cont{
    overflow-x: scroll;
    width: 2200px;
    height: 100%;
}
.mat-paginator{
    width: 2200px;
}
//FIN - REQ # 7 - JEGALARZA 