<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Ingrese la informacion necesaria para generar el reporte. Tener en cuenta que los campos con
                            etiquetas “<span class="class-label-red">(*)</span>” son obligatorios
                        </h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha de creación (Desde) <span class="class-label-red">(*)</span>
                                        </mat-label>
                                        <span matPrefix>
                                        </span>
                                        <input formControlName="fechaInicio" matInput
                                            [matDatepicker]="pickerFechaInicio" [max]="maxDate"/>
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaInicio></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha de creación (Hasta)   <span class="class-label-red">(*)</span>
                                        </mat-label>
                                        <span matPrefix>
                                        </span>
                                        <input formControlName="fechaFin" matInput 
                                        [matDatepicker]="pickerFechaFin" [max]="maxDate"/>
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaFin></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Estados
                                        </mat-label>
                                        <mat-select formControlName="idEstadoMedidor">
                                            <mat-option [value]="estado.id" *ngFor="let estado of estados">{{
                                                estado.descripcion }}</mat-option>
                                            <mat-option [value]="0">Todos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Tipo de Ubicación
                                        </mat-label>
                                        <mat-select formControlName="tipoUbicacion" (selectionChange)="selectTipoUbicacion($event)">
                                            <mat-option [value]="ubicacion.valorAlf" *ngFor="let ubicacion of ubicaciones">{{
                                                ubicacion.descripcion }}</mat-option>
                                            <mat-option [value]="0">Todos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-4" *ngIf="mostrarNroCuenta">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Número de cuenta
                                        </mat-label>
                                        <input matInput formControlName="nroCuenta">
                                        <mat-error *ngFor="let validation of errorMessage.reporte_medidores.errors">
                                            <span
                                                *ngIf="form.get('nroCuenta').hasError(validation.type) && form.get('nroCuenta ')?.touched">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Número de Componente
                                        </mat-label>
                                        <input matInput formControlName="nroComponente">
                                        <mat-error *ngFor="let validation of errorMessage.reporte_medidores.errors">
                                            <span
                                                *ngIf="form.get('nroCuenta').hasError(validation.type) && form.get('nroCuenta ')?.touched">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                 <!--INICIO - REQ # 8 - JEGALARZA-->
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                      <mat-label>
                                        Marca de Medidor
                                      </mat-label>
                                      <mat-select formControlName="marcaMedidor" #marca (selectionChange)="getModelos(marca.value)">
                                        <mat-option [value]="">--- Seleccione ---</mat-option>
                                        <mat-option [value]="marca.id" *ngFor="let marca of marcas">{{ marca.codigo }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>   
                                  </div>
                                  <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                      <mat-label>
                                        Modelo
                                      </mat-label>
                                      <mat-select formControlName="modeloMedidor">
                                        <mat-option [value]="">--- Seleccione ---</mat-option>
                                        <mat-option [value]="modelo.id" *ngFor="let modelo of modelos">{{ modelo.codigo }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>   
                                  </div>
                                <!--FIN - REQ # 8 - JEGALARZA-->
                                <div class="col-4">
                                    <button mat-flat-button color="primary" class="mat-flat-button"
                                        (click)="submitFilterReporteMedidores()">
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="body table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-12">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="icon-button-demo">
                                            <button mat-mini-fab color="primary" matTooltip="XLSX" 
                                            (click)="exportFile()" >
                                                <mat-icon class="col-white">download</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table class="table-cont" #table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource">
                        <ng-container matColumnDef="item">
                            <mat-header-cell *matHeaderCellDef class="w-60">
                                Nro
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" class="w-60">
                                {{ countItem + i }}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="tipoComponente">
                            <mat-header-cell *matHeaderCellDef>
                                Tipo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{ row.tipoComponente }}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="marca">
                            <mat-header-cell *matHeaderCellDef>
                                Marca
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.marca}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="modelo">
                            <mat-header-cell *matHeaderCellDef>
                                Modelo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.modelo}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nroMedidor">
                            <mat-header-cell *matHeaderCellDef>
                                N° Componente
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.nroMedidor}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nroCuenta">
                            <mat-header-cell *matHeaderCellDef>
                                N° Cuenta
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.nroCuenta}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef>
                                Estado
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.estado}}
                            </mat-cell>
                        </ng-container>
                       
                        <ng-container matColumnDef="fechaDesde">
                            <mat-header-cell *matHeaderCellDef>
                                Fecha Desde
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.fechaDesde}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fechaHasta">
                            <mat-header-cell *matHeaderCellDef>
                                Fecha Hasta
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.fechaHasta}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ubicacion">
                            <mat-header-cell *matHeaderCellDef>
                                Ubicación
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.ubicacion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef>
                                Usuario
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.username}}
                            </mat-cell>
                        </ng-container>
                        <!-- INICIO - REQ # 7 - JEGALARZA -->
                        <ng-container matColumnDef="codPrimarioApe" >
                            <mat-header-cell *matHeaderCellDef class="pr-30">
                                Cod Primario Pallet
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="pr-30">
                                {{row.codPrimarioApe}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codSecundarioApe">
                            <mat-header-cell *matHeaderCellDef class="pr-30">
                                Cod Secundario Pallet
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="pr-30">
                                {{row.codSecundarioApe}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codPrimarioCaja">
                            <mat-header-cell *matHeaderCellDef class="pr-30">
                                Cod Primario Caja
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="pr-30">
                                {{row.codPrimarioCaja}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codSecundarioCaja">
                            <mat-header-cell *matHeaderCellDef class="pr-30">
                                Cod Secundario Caja
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="pr-30">
                                {{row.codSecundarioCaja}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codMedidor">
                            <mat-header-cell *matHeaderCellDef class="pr-30">
                                Codigo Medidor
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="pr-30">
                                {{row.codMedidor}}
                            </mat-cell>
                        </ng-container>

                        <!-- FIN - REQ # 7 - JEGALARZA -->

                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [length]="totalElements" [pageSize]="totalPages" [pageSizeOptions]="[10, 25, 100]"
                        (page)="pageChanged($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
         <!-- Bar Chart -->
        <!-- <div class="row clearfix mt-4">
           
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="content_title">
                            <h3>Representación Gráfica Reporte de Medidores Cantidad X Estado</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content_chart">
                            <ngx-charts-bar-vertical [results]="chartBarValues" [gradient]="gradient"
                            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendPosition]="legendPosition"
                            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="vbarxAxisLabel"
                            [yAxisLabel]="vbaryAxisLabel">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- #END# Bar Chart -->
    </div>
</section>