<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <mat-tab-group mat-align-tabs="center" #tabGroup>
                <mat-tab label="DATOS DE LA ORDEN DE CONTRASTE">
                    <form [formGroup]="form">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Orden
                                    </mat-label>
                                    <input matInput value="{{ nroOrden }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Estado de Orden
                                    </mat-label>
                                    <input matInput value="{{ estadoWkf }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!-- R.I. REQSCOM08 12/07/2023 INICIO -->
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Creación
                                    </mat-label>
                                    <input matInput value="{{ fechaCreacionOrden }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <!-- R.I. REQSCOM08 12/07/2023 FIN -->
                            <div class="col">
                                <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true">
                                    Buscar
                                </button>
                            </div>
                        </div>
                        <!-- R.I. REQSCOM08 12/07/2023 INICIO -->
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fecha de Ejecución
                                    </mat-label>
                                    <input matInput value="{{ fechaEjecucion }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Observaciones del Técnico
                                    </mat-label>
                                    <textarea matInput [value]="observacionTecnico" disabled="true" style="height: auto;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- R.I. REQSCOM08 12/07/2023 FIN -->
                    </div>
                    <div class="header">
                        <h2>
                            Datos del Cliente / Suministro
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de servicio eléctrico
                                    </mat-label>
                                    <input matInput value="{{ nroServicio }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de Cuenta
                                    </mat-label>
                                    <input matInput value="{{ nroCuenta }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nombre del cliente
                                    </mat-label>
                                    <input matInput value="{{ cliente }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Dirección
                                    </mat-label>
                                    <input matInput value="{{ direccion }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Distrito
                                    </mat-label>
                                    <input matInput value="{{ distrito }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Ruta de lectura
                                    </mat-label>
                                    <input matInput value="{{ rutaLectura }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="header">
                        <h2>
                            Datos del Medidor
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Marca
                                    </mat-label>
                                    <input matInput value="{{ marca }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Modelo
                                    </mat-label>
                                    <input matInput value="{{ modelo }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de medidor
                                    </mat-label>
                                    <input matInput value="{{ nroMedidor }}" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Estado
                                    </mat-label>
                                    <input matInput value="{{ estado }}" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="header">
                        <h2>
                            Datos de la Orden
                        </h2>
                    </div>
                    <div class="body">
                        <h6>
                            Órdenes de Inspección notificadas (*)
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="ordenInspeccionNotificadas" matSort>
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                            
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                            <mat-radio-button (change)="check(row.id)" [checked]="true" *ngIf="row.id == idOrdenInspeccion" [disabled]="true">
                                            </mat-radio-button>
                                            <mat-radio-button (change)="check(row.id)" *ngIf="row.id != idOrdenInspeccion" [disabled]="true">
                                            </mat-radio-button>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nro">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nroOrden">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro de Orden
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.nroOrden}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fechaCreacion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Fecha de Creación
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="contratista">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Contratista
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.contratista}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="tipoInspeccion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Tipo de Inspección
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.tipoInspeccion}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <br />
                        <h6>
                            Irregularidades
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="irregularidades" matSort>
                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Nro
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            {{ i + 1 }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codigo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codigo}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="descripcion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Descripción
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.descripcion}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="generaCNR">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Genera CNR
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.generaCNR}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="generaOrdenNormalizacion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Genera Orden Normalización
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.generaOrdenNormalizacion}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="causal">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Causal
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.causal}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns2">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <br />
                        <h6>
                            Tareas
                        </h6>
                        <div class="row">
                            <div class="col-md-12 example-container">
                                <mat-table #table [dataSource]="tareas" matSort>
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Realizado
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <mat-checkbox (change)="noRealizado(row.id)" *ngIf="row.tareaEstado == 'S'" checked [disabled]="true">
                                            </mat-checkbox>
                                            <mat-checkbox (change)="realizado(row.id)" *ngIf="row.tareaEstado == 'N'" [disabled]="true">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codAnormalidad">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código de Anormalidad
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codAnormalidad}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="codTarea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Código de tarea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.codTarea}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="tarea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Descripción de tarea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.tarea}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns3">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Motivos
                                    </mat-label>
                                    <mat-select formControlName="idMotivo">
                                        <mat-option [value]="item.id" *ngFor="let item of motivos">{{ item.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Observaciones
                                    </mat-label>
                                    <textarea matInput formControlName="observaciones"></textarea>
                                </mat-form-field>
                            </div>
                        </div>



                        <div class="header">
                            <h4>Pruebas de Contraste</h4>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasAlta" matSort>
                                        <ng-container matColumnDef="pruebaAlta01">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Alta 01
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAlta02">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Alta 02
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAlta03">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Alta 03
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaAlta">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaAlta;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasBaja" matSort>
                                        <ng-container matColumnDef="pruebaBaja01">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Baja 01
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaBaja02">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Baja 02
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaBaja03">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Baja 03
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaBaja">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaBaja;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasAislamiento" matSort>
                                        <ng-container matColumnDef="pruebaAislamientoR">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Aislamiento R
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAislamientoS">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Aislamiento S
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAislamientoT">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Aislamiento T
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaAislamiento">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaAislamiento;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasNominal" matSort>
                                        <ng-container matColumnDef="pruebaNominal01">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Nominal 01
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaNominal02">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Nominal 02
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaNominal03">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Nominal 03
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaNominal">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaNominal;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo-scom']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>