.undefined-value
    color: gray
.mat-dialog-content
    margin: 0 0
    padding: 0 0
    max-height: none
    overflow-x: hidden

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after 
    color: #343a40

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label
    color: #343a40

