<h2 mat-dialog-title>Formulario de actualizacion de datos</h2>
<mat-dialog-content class="">
    <form [formGroup]="form">
        <div class="header">
            <!--<h2>
                Datos del Cliente / Suministro
            </h2>-->
        </div>
        <div class="body">
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>
                            Nro de Suministro
                        </mat-label>
                       <input matInput value="{{ inputData.nroSuministro }}" disabled="true">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>
                            Nro de Notificación
                        </mat-label>
                        <input matInput value="{{ inputData.nroNotificacion }}" disabled="true" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>
                            Nro Expediente CNR
                        </mat-label>
                        <input matInput value="{{ inputData.codExpedienteCNR }}" disabled="true">
                    </mat-form-field>
                </div>
                
                <div class="col-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>
                            Escenario CNR
                        </mat-label>
                        <input matInput value="{{ inputData.escenarioDescripcion }}" disabled="true" >
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>
                            Nombre Expediente CNR
                        </mat-label>
                        <input matInput value="{{ inputData.nombreExpedienteCNR }}" disabled="true" >
                    </mat-form-field>
                </div>
                
                <div class="col-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>
                            Tipo Cliente
                        </mat-label>
                        <input matInput value="{{ inputData.tipoCliente }}" disabled="true" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <label for="">Datos de actualización:</label>
            </div>
            <div class="row">
                <div class="col-2">
                        <br>
                        Carga R :
                </div>
                <div class="col-2">
                    <mat-form-field class="input-test-123 example-full-width" appearance="fill">
                        <input matInput appNumbersdecimals  formControlName="inpt_carga_r" class="" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-error *ngFor="let validation of errorMessage.actualizar_datos_ord_insp_cnr.numericos_decimales.errors">
                        <span *ngIf="form.get('inpt_carga_r').hasError(validation.type) && form.get('inpt_carga_r')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                </div>
            </div>
            <div class="row">
                
                <div class="col-2">
                        <br>
                       <label > Carga S :</label>
                </div>
                <div class="col-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput (keydown.space)="$event.preventDefault();" formControlName="inpt_carga_s">
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-error *ngFor="let validation of errorMessage.actualizar_datos_ord_insp_cnr.numericos_decimales.errors">
                        <span *ngIf="form.get('inpt_carga_s').hasError(validation.type) && form.get('inpt_carga_s')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                </div>
            </div>
            <div class="row">
                
                
                <div class="col-2">
                        <br>
                        Carga T :
                </div>
                <div class="col-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput (keydown.space)="$event.preventDefault();" formControlName="inpt_carga_t">
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-error *ngFor="let validation of errorMessage.actualizar_datos_ord_insp_cnr.numericos_decimales.errors">
                        <span *ngIf="form.get('inpt_carga_t').hasError(validation.type) && form.get('inpt_carga_t')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                </div>
            </div>
            <div class="row">
                
                <div class="col-2">
                        <br>
                        Lectura :
                </div>
                <div class="col-2">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput (keydown.space)="$event.preventDefault();" formControlName="inpt_lectura">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-error *ngFor="let validation of errorMessage.actualizar_datos_ord_insp_cnr.numericos.errors">
                        <span *ngIf="form.get('inpt_lectura').hasError(validation.type) && form.get('inpt_lectura')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                </div>
            </div>
            <div class="row">
                
                
                <div class="col-2">
                    <mat-label>
                        <br>
                        Fecha Notificación :
                    </mat-label>
                </div>
                <div class="col-4">
                    <!--<mat-form-field class="example-full-width" appearance="fill">
                        <input matInput (keydown.space)="$event.preventDefault();" formControlName="inpt_fecha_notificacion" >
                    </mat-form-field>-->

                    <!-- <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="inpt_fecha_notificacion">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint>YYYY/MM/DD/</mat-hint>
                      </mat-form-field>
                      -->

                      <!--<mat-form-field>
                        <mat-label>Custom calendar header</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="inpt_fecha_notificacion">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [calendarHeaderComponent]=""></mat-datepicker>
                      </mat-form-field>-->

                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="inpt_fecha_notificacion"  [max]=""/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker  #picker></mat-datepicker>
                      </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                        <span *ngIf="form.get('inpt_fecha_notificacion').hasError(validation.type) && form.get('inpt_fecha_notificacion')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                </div>
            </div>
            <div class="row">
                
                
                <div class="col-2">
                    <br>
                        Comentarios :
                </div>
                <div class="col-9">
                    <mat-form-field class="example-full-width">
                        <mat-label></mat-label>
                        <textarea matInput placeholder="" formControlName="inpt_comentario"></textarea>
                      </mat-form-field>
                      <mat-error *ngFor="let validation of errorMessage.actualizar_datos_ord_insp_cnr.string_comentario.errors">
                        <span *ngIf="form.get('inpt_comentario').hasError(validation.type) && form.get('inpt_comentario')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                   
                </div>
                
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="submitEditar()">
    Editar
    </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

