<style>
  .mat-flat-button {
    height: 48px !important;
    width: 48px !important;
  }
</style>
<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>
                Realice las operaciones de crear, editar y modificar las órdenes de acuerdo al tipo, hay restriccciones en
                el sistema
              </h2>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Tipo de Proceso
                    </mat-label>
                    <mat-select formControlName="codTipoProceso" (selectionChange)="selectTipoOrden($event)">
                      <mat-option [value]="proceso.valorAlf" *ngFor="let proceso of procesos">{{ proceso.descripcion }}</mat-option>
                      <mat-option [value]="'TODO'">Todos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Tipo de Orden
                    </mat-label>
                    <mat-select formControlName="idTipoOrden" (selectionChange)="selectCodTipoOrdenEorder($event)">
                      <mat-option [value]="tipoOrden.codigoLegacy" *ngFor="let tipoOrden of tiposOrden">{{ tipoOrden.descripcion }}</mat-option>
                      <mat-option [value]="'TODO'">Todos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Código EORDER
                    </mat-label>
                    <mat-select formControlName="codTipoOrdenEorder">
                      <mat-option [value]="tipo.value" *ngFor="let tipo of codsTipoOrdenEorder">{{ tipo.value }}</mat-option>
                      <mat-option [value]="'TODO'">Todos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Fecha de creación (Desde)
                    </mat-label>
                    <input formControlName="fechaInicio" matInput [matDatepicker]="pickerInicio" [max]="maxDate"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                    <mat-datepicker  #pickerInicio></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Fecha de creación (Hasta)
                    </mat-label>
                    <input formControlName="fechaFin" matInput [matDatepicker]="pickerFin" [max]="maxDate"/>
                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFin></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Número de Orden
                    </mat-label>
                    <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroOrden">
                    <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                      <span *ngIf="form.get('nroOrden').hasError(validation.type) && form.get('nroOrden')?.touched">
                        {{ validation.message }}
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Número de Orden TDC
                    </mat-label>
                    <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroOrdenTdc">
                    <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                      <span *ngIf="form.get('nroOrdenTdc').hasError(validation.type) && form.get('nroOrdenTdc')?.touched">
                        {{ validation.message }}
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Número de Cuenta
                    </mat-label>
                    <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroCuenta">
                    <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                      <span *ngIf="form.get('nroCuenta').hasError(validation.type) && form.get('nroCuenta')?.touched">
                        {{ validation.message }}
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Estado
                    </mat-label>
                    <mat-select formControlName="idEstado">
                      <mat-option [value]="estado.valorAlf" *ngFor="let estado of estados">{{ estado.descripcion }}</mat-option>
                      <mat-option [value]="0">Todos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Estado Transferencia
                    </mat-label>
                    <mat-select formControlName="codEstadTransfer">
                      <mat-option [value]="estadoTrans.valorNum" *ngFor="let estadoTrans of estadosTransferencia">{{ estadoTrans.descripcion }}</mat-option>
                      <mat-option [value]="0">Todos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                      Auto Activación
                    </mat-label>
                    <mat-select formControlName="autoActivacion">
                      <mat-option [value]="autoacti.codigo" *ngFor="let autoacti of autoActivaciones">{{ autoacti.value }}</mat-option>
                      <mat-option [value]="-1">Seleccionar</mat-option>
                      <mat-option [value]="'TODO'">Todos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-raised-button color="primary" (click)="submitOrdenTrabajo()" [disabled]="!form.valid">
                    Filtrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
      <div class="row">
        <div class="col-md-12">
              <div class="materialTableHeader">
            
                <ul class="header-buttons">
                  <li>
                    <div class="icon-button-demo">
                        <button mat-mini-fab color="primary" matTooltip="Exportar XLSX" 
                        (click)="exportFile()" >
                            <mat-icon class="col-white">download</mat-icon>
                        </button>
                    </div>
                </li>
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="dialogCrearOrdenTrabajo()">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </div>
                  </li>
                  <li>
                    <!--
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary">
                        <mat-icon class="col-white">file_upload</mat-icon>
                      </button>
                    </div>
                    -->
                  </li>
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="dialogAnularOrdenTrabajo()" [disabled]="!selection.hasValue()" matTooltip="ANULAR ORDEN">
                        <mat-icon class="col-white">not_interested</mat-icon>
                      </button>
                    </div>
                  </li>
                  <!-- <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="dialogAprobarOrdenTrabajo()">
                        <mat-icon class="col-white">check_box</mat-icon>
                      </button>
                    </div>
                  </li> -->
                </ul>
              </div>
            <div class="body table-responsive">
                  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell example-container">
                    <ng-container matColumnDef="select">
                      <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-5'">
                        <mat-checkbox (change)="$event ? masterToggle() : null" 
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                        </mat-checkbox>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-5'">
                        <mat-checkbox (click)="rowSelected(row, $event)"(change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                        </mat-checkbox>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef>
                        Id
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.idtransferencia}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="item" >
                      <mat-header-cell *matHeaderCellDef class="w-65">
                        Item
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row ; let i = index;" class="w-65">
                        {{countItem + i}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoOrdenLegacy">
                      <mat-header-cell *matHeaderCellDef class="w-75">
                        Tipo Ord Legacy
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-75">
                        {{row.tipoOrdenLegacy}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nroOrdenLegacy">
                      <mat-header-cell *matHeaderCellDef>
                        N° Ord Legacy
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.nroOrdenLegacy}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoOrdenTdc">
                      <mat-header-cell *matHeaderCellDef class="w-75">
                        Tipo Ord TDC
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-75">
                        {{row.tipoOrdenTdc}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nroOrdenTdc">
                      <mat-header-cell *matHeaderCellDef>
                        N° Ord TDC
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.nroTdc}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                      <mat-header-cell *matHeaderCellDef>
                        Estado
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.estado}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="paralizada">
                      <mat-header-cell *matHeaderCellDef class="w-75">
                        Paralizada
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-75">
                        {{row.pararilizada}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaEstadoActual">
                      <mat-header-cell *matHeaderCellDef>
                        Fecha de Estado Actual
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.fecEstadoActual | date: 'dd/MM/yyyy'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nroCuenta">
                      <mat-header-cell *matHeaderCellDef>
                        N° Cuenta
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.nroCuenta}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="origenCreacion">
                      <mat-header-cell *matHeaderCellDef>
                        Origen de Creación
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.origenCrea}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaExtraccion">
                      <mat-header-cell *matHeaderCellDef class="w-100">
                        Fecha de Extracción
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-100">
                        {{row.fechaCrea | date: 'dd/MM/yyyy'}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="generacion">
                      <mat-header-cell *matHeaderCellDef class="w-50">
                        Genra
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-50">
                        {{row.generacion}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="autoActivacion">
                      <mat-header-cell *matHeaderCellDef class="w-75">
                        Act. Suminis
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-75">
                        {{row.estadoActivacion}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="w-85">
                        Acción
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="w-85">
                        <button class="btn tblActnBtn h-auto" mat-menu-item
                        (click)="sendUrlVer(row.tipoOrdenLegacy,row.idtransferencia, row.generacion)">
                          <i class="material-icons align-middle">
                            remove_red_eye
                          </i>
                        </button>
                        <button class="btn tblActnBtn h-auto" mat-menu-item *ngIf="(row.tipoOrdenLegacy == 'NORM' || row.tipoOrdenLegacy == 'ORINSP' || row.tipoOrdenLegacy =='CONT' || row.tipoOrdenLegacy =='PMANT') && (row.estado == 'Pendiente Envio' || row.estado == 'Enviado con Error')"
                        (click)="sendUrlCrear(row.tipoOrdenLegacy,row.idtransferencia)">
                          <i class="material-icons align-middle">
                            create
                          </i>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns">
                    </mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </mat-table>
            </div>
            <mat-paginator [length]="totalElements"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10, 25, 100]"
            (page)="pageChanged($event)"
            aria-label="Select page">
            </mat-paginator>
          </div>
          
        
      </div>
  
  </div>
</section>