<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ingrese la informacion necesaria a la nueva orden. Tener en cuenta que los campos con
                        etiquetas
                        “(*)” son obligatorios
                    </h2>
                </div>
                <form [formGroup]="form">
                <div class="body">
                    <div class="row">
                        <div class="col-md-4">Nro de Orden: {{ nroOrden }}</div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de cuenta
                                </mat-label>
                                <input matInput formControlName="nroCuenta" maxlength="10" pattern="[0-9]*">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true" [disabled]="!form.valid">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                </form>
                <div class="header">
                    <h2>
                        Datos del Cliente / Suministro
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de servicio
                                </mat-label>
                                <input matInput value="{{ nroServicio }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Cuenta
                                </mat-label>
                                <input matInput value="{{ nroCuenta }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nombre del cliente
                                </mat-label>
                                <input matInput value="{{ cliente }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Dirección
                                </mat-label>
                                <input matInput value="{{ direccion }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Distrito
                                </mat-label>
                                <input matInput value="{{ distrito }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Ruta de lectura
                                </mat-label>
                                <input matInput value="{{ rutaLectura }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Documento
                                </mat-label>
                                <input matInput value="{{ documento }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tipo Acometida
                                </mat-label>
                                <input matInput value="{{ tipoAcometida }}" disabled="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <div class="header">
                    <h2>
                        Datos de la Orden
                    </h2>
                </div>
                <div class="body">
                    <form [formGroup]="form2">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Motivo
                                </mat-label>
                                <!-- PLM -->
                                <input matInput value="PLAN MANTENIMIENTO" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tema
                                </mat-label> 
                                <!-- 066 -->
                                <input matInput value="TRABAJOS MANTENIMIENTO" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Trabajo
                                </mat-label>
                                <mat-select formControlName="idTrabajo">
                                    <mat-option [value]="item.id" *ngFor="let item of trabajos">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Prioridad
                                </mat-label>
                                <mat-select formControlName="idPrioridad">
                                    <mat-option [value]="item.id" *ngFor="let item of prioridades">{{ item.desPrioridad }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tipo Responsable
                                </mat-label>
                                <mat-select formControlName="idTipoResponsable" (selectionChange)="getResponsable($event.value)">
                                    <mat-option [value]="item.id" *ngFor="let item of tipoResponsable">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Responsable
                                </mat-label>
                                <mat-select formControlName="idResponsable">
                                    <mat-option [value]="item.id" *ngFor="let item of responsables">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    </form>
                    <form [formGroup]="form4">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tipo de Tareas
                                </mat-label>
                                <mat-select formControlName="idTipo" #tipo (selectionChange)="getOrmTareas(tipo.value)">
                                    <mat-option [value]="">Seleccione</mat-option>
                                    <mat-option [value]="item.id" *ngFor="let item of tipos">{{ item.description }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tareas
                                </mat-label>
                                <mat-select formControlName="idTarea">
                                    <mat-option [value]="">Seleccione</mat-option>
                                    <mat-option [value]="item.id + '-' + item.codigo + '-' + item.tarea + '-' + item.tipoTarea + '-' + item.cambio + '-' + item.contraste + '-' + item.estado + '-' + item.valor" *ngFor="let item of tareas">{{ item.tarea + ' - ' + item.tipoTarea }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <button mat-raised-button color="primary" (click)="getTareas()" [disabled]="!form4.valid">AGREGAR</button>
                        </div>
                    </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-table #table [dataSource]="irregularidades" matSort class="mat-cell">
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nro
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        {{ i + 1 }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="codigo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Código
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.codigo}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="tarea">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Tarea
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.tarea }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="tipoTarea">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Tipo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.tipoTarea }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cambio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Cambio
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.cambio }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="contraste">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Contraste
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.contraste }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="estado">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Activo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.estado }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="valor">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Valor
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.valor }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="psl-3 tbl-col-width-per-10" *matHeaderCellDef>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        <button class="btn tblActnBtn h-auto" (click)="remove(i, row)">
                                            <i class="material-icons align-middle">
                                                delete
                                            </i>
                                            <span>
                                            </span>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns2">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                    <form [formGroup]="form3">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <textarea matInput formControlName="observaciones" pattern=""></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="primary" [disabled]="form3.invalid || form2.invalid || form.invalid" (click)="store()" *ngIf="!botonGuardar">
                    {{ botonSubmit }}
                </button>
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>