<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ingrese la información necesaria a la nueva orden. Tener en cuenta que los campos con
                        etiquetas
                        “(*)” son obligatorios
                    </h2>
                </div>
                <form [formGroup]="form">
                <div class="body">
                    <div class="row">
                        <div class="col-md-4">Nro de Orden: {{ nroOrden }}</div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de servicio eléctrico
                                </mat-label>
                                <input matInput formControlName="nroServicio" maxlength="10" pattern="[0-9]*">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true" [disabled]="!form.valid">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                </form>
                <form [formGroup]="form2">
                <div class="header">
                    <h2>
                        Datos del Cliente / Suministro
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de servicio
                                </mat-label>
                                <input matInput value="{{ nroServicio }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Cuenta
                                </mat-label>
                                <input matInput value="{{ nroCuenta }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nombre del cliente
                                </mat-label>
                                <input matInput value="{{ cliente }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Dirección
                                </mat-label>
                                <input matInput value="{{ direccion }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Distrito
                                </mat-label>
                                <input matInput value="{{ distrito }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Ruta de lectura
                                </mat-label>
                                <input matInput value="{{ rutaLectura }}" disabled="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <h2>
                        Datos de la Orden
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Tipo de Inspección
                                </mat-label>
                                <mat-select formControlName="tipInspeccion">
                                    <mat-option [value]="item.descripcion" *ngFor="let item of tipoInspecciones">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row"><!--
                        <div class="offset-md-3 col-2">
                            <mat-label>
                                Denuncia realizada por
                            </mat-label>
                        </div>
                        <div class="col-4">
                            <mat-radio-group aria-label="Select an option" formControlName="denunciaRealizada">
                                <mat-radio-button value="1">Cliente</mat-radio-button>
                                <mat-radio-button value="2">Tercero</mat-radio-button>
                            </mat-radio-group>
                        </div>-->
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Motivo
                                </mat-label>
                                <mat-select formControlName="idMotivo" #idMotivo (selectionChange)="getProductos(idMotivo.value)">
                                    <mat-option [value]="item.id" *ngFor="let item of motivos">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Producto
                                </mat-label>
                                <mat-select formControlName="idProducto">
                                    <mat-option [value]="item.id" *ngFor="let item of productos">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Jefe del Producto
                                </mat-label>
                                <mat-select formControlName="idJefeProducto">
                                    <mat-option [value]="item.id" *ngFor="let item of jefeProductos">{{ item.nombre + ' ' + item.apellidoPat + ' ' + item.apellidoMat }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!--  <div class="col-8">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Contratista
                                </mat-label>
                                <mat-select formControlName="idContratista">
                                    <mat-option [value]="item.id" *ngFor="let item of contratistas">{{ item.codContratista + ' - ' + item.nombre + ' ' + item.apellidoPat + ' ' + item.apellidoMat }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>-->
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Entre calles
                                </mat-label>
                                <input matInput formControlName="entreCalles">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <section class="example-full-width" appearance="fill">
                                <input matInput [hidden]="true">
                                <mat-checkbox class="example-margin" formControlName="informacionComplementaria">
                                    Pedir información complementaria
                                </mat-checkbox>
                                <mat-checkbox class="example-margin" formControlName="autogenerado">
                                    Autogenerado</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <textarea matInput formControlName="observaciones"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="primary" [disabled]="!form2.valid" (click)="store()" *ngIf="!botonGuardar">
                    {{ botonSubmit }}
                </button>
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>