.content_chart {
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
}

.content_title {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.w-75{
    max-width: 75px !important;
}


.w-60 {
    max-width: 60px !important;
}

.w-65 {
    max-width: 65px !important;
}