<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <mat-tab-group mat-align-tabs="center" #tabGroup (selectedTabChange)="tabChanged($event)">
        <mat-tab label="DATOS DE LA ORDEN DE CONTRASTE" *ngIf="ordenTransfer && ordenTransfer.generacion == 'M' ">

            <div class="row">
                <div class="col-md-12 fondo">
                    <form [formGroup]="form">
                        <div class="body">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de Orden
                                        </mat-label>
                                        <input matInput value="{{ nroOrden }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Estado de Orden
                                        </mat-label>
                                        <input matInput value="{{ estadoWkf }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h4>
                                Datos del Cliente / Suministro
                            </h4>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de servicio eléctrico
                                        </mat-label>
                                        <input matInput value="{{ nroServicio }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de Cuenta
                                        </mat-label>
                                        <input matInput value="{{ nroCuenta }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nombre del cliente
                                        </mat-label>
                                        <input matInput value="{{ cliente }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Dirección
                                        </mat-label>
                                        <input matInput value="{{ direccion }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Distrito
                                        </mat-label>
                                        <input matInput value="{{ distrito }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Ruta de lectura
                                        </mat-label>
                                        <input matInput value="{{ rutaLectura }}" disabled="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h4>
                                Datos del Medidor
                            </h4>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Marca
                                        </mat-label>
                                        <input matInput value="{{ marca }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Modelo
                                        </mat-label>
                                        <input matInput value="{{ modelo }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Nro de medidor
                                        </mat-label>
                                        <input matInput value="{{ nroMedidor }}" disabled="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Estado
                                        </mat-label>
                                        <input matInput value="{{ estado }}" disabled="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h4>
                                Datos de la Orden
                            </h4>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Motivos
                                        </mat-label>
                                        <mat-select formControlName="idMotivo">
                                            <mat-option [value]="item.id" *ngFor="let item of motivos">{{ item.descripcion }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Observaciones
                                        </mat-label>
                                        <textarea matInput formControlName="observaciones"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h4>Pruebas de Contraste</h4>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasAlta" matSort>
                                        <ng-container matColumnDef="pruebaAlta01">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Alta 01
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAlta02">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Alta 02
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAlta03">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Alta 03
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaAlta">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaAlta;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasBaja" matSort>
                                        <ng-container matColumnDef="pruebaBaja01">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Baja 01
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaBaja02">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Baja 02
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaBaja03">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Baja 03
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaBaja">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaBaja;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasAislamiento" matSort>
                                        <ng-container matColumnDef="pruebaAislamientoR">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Aislamiento R
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAislamientoS">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Aislamiento S
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaAislamientoT">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Aislamiento T
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaAislamiento">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaAislamiento;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-table #table [dataSource]="medContrastePruebasNominal" matSort>
                                        <ng-container matColumnDef="pruebaNominal01">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Nominal 01
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.primerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaNominal02">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Nominal 02
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.segundoValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="pruebaNominal03">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Prueba Nominal 03
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.tercerValor}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsPruebaNominal">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPruebaNominal;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="DATOS DE TRANSFERENCIA">
            <div class="row">
                <div class="col-md-12 fondo">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Codigo Tipo Orden Legacy
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.codTipoOrdenLegacy }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro Orden Legacy
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.nroOrdenLegacy }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Codigo Tipo Orden Eorder
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.tipoOrden }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro Orden Eorder
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.nroOrdenEorder }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Codigo Estado de Orden
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.codEstadoOrden }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Envios
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.nroEnvios }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Recepciones
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.nroRecepciones }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-label>
                                Suspendida
                            </mat-label>
                            <section class="example-section" *ngIf="ordenTransfer.suspendida == 'S'">
                                <mat-checkbox class="example-margin" checked="true" [disabled]="true">SI</mat-checkbox>
                                <mat-checkbox class="example-margin" [disabled]="true">NO</mat-checkbox>
                            </section>
                            <section class="example-section" *ngIf="ordenTransfer.suspendida != 'S'">
                                <mat-checkbox class="example-margin" [disabled]="true">SI</mat-checkbox>
                                <mat-checkbox class="example-margin" checked="true" [disabled]="true">NO</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Fecha Operación
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.fecOperacion | date:'dd-MM-yyyy HH:mm:ss' }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-label>
                                Tiene Anexos
                            </mat-label>
                            <section class="example-section" *ngIf="ordenTransfer.tieneAnexos == 'S'">
                                <mat-checkbox class="example-margin" checked="true" [disabled]="true">SI</mat-checkbox>
                                <mat-checkbox class="example-margin" [disabled]="true">NO</mat-checkbox>
                            </section>
                            <section class="example-section" *ngIf="ordenTransfer.tieneAnexos != 'S'">
                                <mat-checkbox class="example-margin" [disabled]="true">SI</mat-checkbox>
                                <mat-checkbox class="example-margin" checked="true" [disabled]="true">NO</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Codigo de Estado Anexo
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.codEstadoAnexo }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nombre de Archivo Anexo
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.nomArchAnexo }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <!--<div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.observaciones }}" [disabled]="true">
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-4"> <!--CHR 22-06-23-->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <textarea matInput class="no-expandir" rows="3" value="{{ ordenTransfer.observaciones }}" [disabled]="true"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Fecha de Estado
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.fecEstado | date:'dd-MM-yyyy HH:mm:ss' }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de cuenta
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.nroCuenta }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-label>
                                Creada Eorder
                            </mat-label>
                            <section class="example-section" *ngIf="ordenTransfer.creadaEorder == 0">
                                <mat-checkbox class="example-margin" checked="true" [disabled]="true">{{ inicioCreacion }}</mat-checkbox>
                                <mat-checkbox class="example-margin"  [disabled]="true">ForceBeat</mat-checkbox>
                            </section>
                            <section class="example-section" *ngIf="ordenTransfer.creadaEorder != 0">
                                <mat-checkbox class="example-margin" [disabled]="true">{{ inicioCreacion }}</mat-checkbox>
                                <mat-checkbox class="example-margin" checked="true" [disabled]="true">ForceBeat</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Fecha de Creación
                                </mat-label>
                                <input matInput value="{{ ordenTransfer.fechaCreacion | date:'dd-MM-yyyy HH:mm:ss' }}" [disabled]="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="DATOS ENVIO FORCEBEAT">
            <div class="fondo">
                <b>DATOS_COMUNES_PROCESOS_TDC:</b>
                <br/><br/>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">VALOR_NIVEL_OPERATIVO_3:</p><p id="VALOR_NIVEL_OPERATIVO_3"></p></div>
                    <div class="card-information"><p class="card-information__comunes">PARAMETRO_NIVEL_OPERATIVO_3:</p><p id="PARAMETRO_NIVEL_OPERATIVO_3"></p></div>
                    <div class="card-information"><p class="card-information__comunes">FECHA_Y_HORA_DE_CREACION_DE_LA_ORDEN:</p><p id="FECHA_Y_HORA_DE_CREACION_DE_LA_ORDEN"></p></div>
                </div>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">OBSERVACIONES:</p><p id="OBSERVACIONES"></p></div>
                    <div class="card-information"><p class="card-information__comunes">ZONA:</p><p id="ZONA"></p></div>
                    <div class="card-information"><p class="card-information__comunes">CENTRO_OPERATIVO:</p><p id="CENTRO_OPERATIVO"></p></div>
                </div>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">TIPO_DE_RED:</p><p id="TIPO_DE_RED"></p></div>
                    <div class="card-information"><p class="card-information__comunes">SECTOR:</p><p id="SECTOR"></p></div>
                    <div class="card-information"><p class="card-information__comunes">CODIGO_CABINA_SECUNDARIA:</p><p id="CODIGO_CABINA_SECUNDARIA"></p></div>
                </div>
                <br/>
                <div class="card-information___content">
                    
                    <div class="card-information__title">
                        SUMINISTROS
                    </div>
                
                <table class="table-class">
                    <tr>
                        <th>CODIGO_CLIENTE</th>
                        <th>NOMBRE_Y_APELLIDO_CLIENTE</th>
                        <th>CODIGO_TIPO_CLIENTE</th>
                        <th>RUTA_DE_LECTURA</th>
                        <th>TARIFA_EXISTENTE</th>
                        <th>LATITUD_CLIENTE</th>
                    </tr>
                    <tr>
                        <td>
                            <p id="CODIGO_CLIENTE"></p>
                        </td>
                        <td>
                            <p id="NOMBRE_Y_APELLIDO_CLIENTE"></p>
                        </td>
                        <td>
                            <p id="CODIGO_TIPO_CLIENTE"></p>
                        </td>
                        <td>
                            <p id="RUTA_DE_LECTURA"></p>
                        </td>
                        <td>
                            <p id="TARIFA_EXISTENTE"></p>
                        </td>
                        <td>
                            <p id="LATITUD_CLIENTE"></p>
                        </td>
                    </tr>
                </table>
                <table class="table-class">
                    <tr>
                        <th>LONGITUD_CLIENTE</th>
                        <th>NUMERO_VIA_DIRECCION</th>
                        <th>ID_COD_MUNICIPIO</th>
                        <th>PROVINCIA</th>
                        <th>CODIGO_POSTAL</th>
                        <th>TEXTO_DIRECCION</th>
                        <th>SUCURSAL</th>
                        <th>LOCALIDAD</th>
                    </tr>
                    <tr>
                        <td>
                            <p id="LONGITUD_CLIENTE"></p>
                        </td>
                        <td>
                            <p id="NUMERO_VIA_DIRECCION"></p>
                        </td>
                        <td>
                            <p id="ID_COD_MUNICIPIO"></p>
                        </td>
                        <td>
                            <p id="PROVINCIA"></p>
                        </td>
                        <td>
                            <p id="CODIGO_POSTAL"></p>
                        </td>
                        <td>
                            <p id="TEXTO_DIRECCION"></p>
                        </td>
                        <td>
                            <p id="SUCURSAL"></p>
                        </td>
                        <td>
                            <p id="LOCALIDAD"></p>
                        </td>
                    </tr>
                </table>
                </div>
                
                <div class="card-information___content">
                    <div id="divMedidors"> 
                    </div>
                </div>
                
                <div class="card-information___content">
                    <div id="divAnexos">
                    </div>
                </div>
                
                
              <!--   <div id="divConsumos"></div> -->
                
    
                <div class="card-information___content">
                    <div id="divGESTION_IMPAGOS_SCR"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_NUEVAS_CONEXIONES"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_PERDIDAS_INSPECCIONES"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_PERDIDAS_NORMALIZACIONES"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_IMPAGOS_COBRANZA"></div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="DATOS RECEPCION FORCEBEAT">
            <div class="fondo">

                <b>DatosComunesProcesosTDC:</b>
                <br/><br/>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">Codigo_Resultado:</p><p id="Codigo_Resultado_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Codigo_Causal_Resultado:</p><p id="Codigo_Causal_Resultado_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Codigo_Nota_Codificada:</p><p id="Codigo_Nota_Codificada_RECEPCION"></p></div>
                </div>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">Inicio_TdC:</p><p id="Inicio_TdC_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Fin_TdC:</p><p id="Fin_TdC_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Duracion_Ejecucion:</p><p id="Duracion_Ejecucion_RECEPCION"></p></div>
                </div>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">Matricula_Usuario:</p><p id="Matricula_Usuario_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Apellido_Usuario:</p><p id="Apellido_Usuario_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Nombre_Usuario:</p><p id="Nombre_Usuario_RECEPCION"></p></div>
                </div>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">Placa_Vehiculo:</p><p id="Placa_Vehiculo_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">Codigo_Cuadrilla:</p><p id="Codigo_Cuadrilla_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">latitud_empalme:</p><p id="latitud_empalme_RECEPCION"></p></div>
                </div>
                <div class="flex-container">
                    <div class="card-information"><p class="card-information__comunes">latitud_medidor:</p><p id="latitud_medidor_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">longitud_empalme:</p><p id="longitud_empalme_RECEPCION"></p></div>
                    <div class="card-information"><p class="card-information__comunes">longitud_medidor:</p><p id="longitud_medidor_RECEPCION"></p></div>
                </div>
                <br/>
                
                <div class="card-information___content">
                    <div id="divMedidors_RECEPCION"> 
                    </div>
                </div>
                
                <div class="card-information___content">
                    <div id="divAnexos_RECEPCION">
                    </div>
                </div>
                
                <div class="card-information___content">
                    <div id="divGESTION_IMPAGOS_SCR_RECEPCION"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_NUEVAS_CONEXIONES_RECEPCION"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_PERDIDAS_INSPECCIONES_RECEPCION"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_PERDIDAS_NORMALIZACIONES_RECEPCION"></div>
                </div>
                <div class="card-information___content">
                    <div id="divGESTION_IMPAGOS_COBRANZA_RECEPCION"></div>
                </div>

            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="row mt-5" *ngIf="ordenTransfer.estadoActivacion =='KO'">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: left; padding-bottom: 20px;">
            <!--  <button mat-raised-button color="btn btn-success" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo']">
                    Activar Suministro
                </button> -->
                <button type="button" class="btn btn-success" (click)="sendActivarSuministro(ordenTransfer.idAutoAct)" >Activar Suministro</button>
            </div>
        </div>
    </div>
</section>