<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ingrese la información necesaria a la nueva orden. Tener en cuenta que los campos con
                        etiquetas
                        “(*)” son obligatorios
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de Orden
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de servicio eléctrico
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <button mat-flat-button color="primary" class="mat-flat-button">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <h2>
                        Datos del Cliente / Suministro
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de servicio
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Cuenta
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nombre del cliente
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Dirección
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Distrito
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Ruta de lectura
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <h2>
                        Datos de la Orden
                    </h2>
                </div>
                <div class="body">
                    <h6>
                        Órdenes de Inspección notificadas (*)
                    </h6>
                    <mat-table #table [dataSource]="dsOrdenInspeccionNotificada" matSort class="mat-cell">
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [ngClass]="'tbl-checkbox'">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nro">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Nro
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nroOrden">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Nro de Orden
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.nroOrden}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fechaCreacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Fecha de Creación
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="contratista">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Contratista
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.contratista}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="tipoInspeccion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Tipo de Inspección
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.tipoInspeccion}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                    <br />
                    <h6>
                        Irregularidades
                    </h6>
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-12">
                                <ul class="header-buttons">
                                    <li>
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-select>
                                                <mat-option value="">
                                                    Seleccionar
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="icon-button-demo">
                                            <button mat-mini-fab color="primary">
                                                <mat-icon class="col-white">
                                                    add
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table [dataSource]="dsIrregularidad" matSort class="mat-cell">
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.id}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nro">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Nro
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.nro}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Código
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.codigo}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Descripción
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.descripcion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="generaCNR">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Genera CNR
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.generaCNR}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="generaOrdenNormalizacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Genera Orden Normalización
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.generaOrdenNormalizacion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="causal">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Causal
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.causal}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell class="psl-3 tbl-col-width-per-10" *matHeaderCellDef>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button class="btn tblActnBtn h-auto">
                                    <i class="material-icons align-middle">
                                        remove_red_eye
                                    </i>
                                    <span>
                                    </span>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns2">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                    <br />
                    <h6>
                        Tareas
                    </h6>
                    <mat-table #table [dataSource]="tareas" matSort class="mat-cell">
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                <mat-checkbox (change)="check(row.id)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.id}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codAnormalidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Código de Anormalidad
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.codAnormalidad}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="codTarea">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Código de tarea
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.codTarea}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="tarea">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Descripción de tarea
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.descripcionTarea}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns3">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Subtipo de Orden
                                </mat-label>
                                <mat-select>
                                    <mat-option value="">
                                        Seleccionar
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-8">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="primary">
                    Guardar
                </button>
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>