.example-container {
  height: 200px;
  overflow: auto
}

.no-expandir{
  resize: none;
  line-height: 1.25;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  background-color: white;
  height: 55vh;
  padding: 20px;
}
.fondo {
  background-color: white;
  padding: 20px
}

.flex-container {
  display: flex;
  height: 100px;
  
}

.flex-container > div {
  
  width: 90px;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 18	px;
  flex: 1 1 200px;
}

.td-comb {
	background-color:#0556FA;
	color:white;
}


.card-information {
  background-color: rgba(0,0,0,.02);  
  width: 500px;
  padding: 5px;
}

.card-information__comunes {
  text-align: left;
  font-size: 12px;
  color:rgba(0,0,0,.38);
  font-weight: bolder;
  margin-bottom: 0px !important;
}

.card-information___content {
  padding: 10px;
}

.card-information__title {
  font-weight: bolder;
  font-size: 14px;
  padding: 5px 0 10px 0;
}


.table-class {
  width: 100%;
  border: 0;
  
  th{
    padding: 5px;
    background-color: rgba(0,0,0,.02);  
    color:rgba(0,0,0,.38);
    text-align: left;
    font-size: 12px;
  }
  
  td{
    padding: 5px;
  }
}