/* R.I. CORRECCION 13/09/2023 INICIO */
.mat-textarea-element-auto-height {
    height: 100px !important;
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
    resize: none !important; /* Opcional: Evita que el usuario redimensione el textarea */
}
/* R.I. CORRECCION 13/09/2023 FIN */