<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <mat-tab-group mat-align-tabs="center" #tabGroup>
                <mat-tab label="DATOS DE LA ORDEN DE INSPECCIÓN">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de Orden
                                                    </mat-label>
                                                    <input matInput value="{{ nroOrden }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de Notificación
                                                    </mat-label>
                                                    <input matInput value="{{ nroNotificacion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Fecha de Notificación
                                                    </mat-label>
                                                    <input matInput value="{{ fechaNotificacion | date: 'd-M-Y' }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <!-- R.I. REQSCOM08 12/07/2023 INICIO -->
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Fecha de Creación
                                                    </mat-label>
                                                    <input matInput value="{{ fechaCreacionOrden }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <!-- R.I. CORRECCION 11/09/2023 INICIO -->
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Estado de Transferencia
                                                    </mat-label>
                                                    <input matInput value="{{ estadoTrans }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Tipo de Inspección
                                                    </mat-label>
                                                    <input matInput value="{{ tipoInspeccion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <!-- R.I. CORRECCION 11/09/2023 FIN -->
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Estado de Orden
                                                    </mat-label>
                                                    <input matInput value="{{ estadoWkf }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <!-- R.I. REQSCOM08 11/07/2023 INICIO -->
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Fecha de Ejecución
                                                    </mat-label>
                                                    <input matInput value="{{ fechaEjecucion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <!-- R.I. REQSCOM08 11/07/2023 FIN -->
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Observación del Técnico
                                                    </mat-label>
                                                    <textarea matInput value="{{ observacionTecnico }}" disabled="true" class="mat-textarea-element-auto-height"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>     
                                        <!-- R.I. REQSCOM08 12/07/2023 FIN -->
                                    </div>
                                    <div class="header">
                                        <h2>
                                            Datos del Cliente / Suministro
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de servicio eléctrico
                                                    </mat-label>
                                                    <input matInput value="{{ nroServicio }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro de Cuenta
                                                    </mat-label>
                                                    <input matInput value="{{ nroCuenta }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nombre del cliente
                                                    </mat-label>
                                                    <input matInput value="{{ cliente }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Dirección
                                                    </mat-label>
                                                    <input matInput value="{{ direccion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Distrito
                                                    </mat-label>
                                                    <input matInput value="{{ distrito }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Ruta de lectura
                                                    </mat-label>
                                                    <input matInput value="{{ rutaLectura }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">
                                        <h2>
                                            Datos de Gestión de la Orden de Inspección
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-3">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Tipo de Inspección
                                                    </mat-label>
                                                    <mat-select formControlName="idTipoInspeccion">
                                                        <mat-option [value]="item.descripcion" *ngFor="let item of tipoInspecciones">{{ item.descripcion }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row"><!--
                                            <div class="offset-md-3 col-2">
                                                <mat-label>
                                                    Denuncia realizada por
                                                </mat-label>
                                            </div>
                                            <div class="col-4">
                                                <mat-radio-group aria-label="Select an option" formControlName="denunciaRealizada">
                                                    <mat-radio-button value="1">Cliente</mat-radio-button>
                                                    <mat-radio-button value="2">Tercero</mat-radio-button>
                                                </mat-radio-group>
                                            </div>-->
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Motivo
                                                    </mat-label>
                                                    <mat-select formControlName="idMotivo" #idMotivo (selectionChange)="getProductos(idMotivo.value)">
                                                        <mat-option [value]="item.id" *ngFor="let item of motivos">{{ item.descripcion }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Producto
                                                    </mat-label>
                                                    <mat-select formControlName="idProducto">
                                                        <mat-option [value]="item.id" *ngFor="let item of productos">{{ item.descripcion }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Jefe del Producto
                                                    </mat-label>
                                                    <mat-select formControlName="idJefeProducto">
                                                        <mat-option [value]="item.id" *ngFor="let item of jefeProductos">{{ item.nombre + ' ' + item.apellidoPat + ' ' + item.apellidoMat }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Contratista
                                                    </mat-label>
                                                    <input matInput value="{{ contratista }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Ejecutor
                                                    </mat-label>
                                                    <input matInput value="{{ ejecutor }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Entre calles
                                                    </mat-label>
                                                    <input matInput formControlName="entreCalles">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <section class="example-full-width" appearance="fill">
                                                    <input matInput [hidden]="true">
                                                    <mat-checkbox class="example-margin" formControlName="informacionComplementaria">
                                                        Pedir información complementaria
                                                    </mat-checkbox>
                                                    <mat-checkbox class="example-margin" formControlName="autogenerado">
                                                        Autogenerado</mat-checkbox>
                                                </section>
                                            </div>                                       
                                        </div>
                                    </div>
                                    <!-- R.I. CORRECCION 11/09/2023 INICIO -->
                                    <div class="header">
                                        <h2>
                                            Resultado de la Orden
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <!-- Código de Resultado -->
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Código de Resultado
                                                    </mat-label>
                                                    <input matInput value="{{ codigoResultado }}" disabled="true">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Identificador de Suministro
                                                    </mat-label>
                                                    <input matInput value="{{ identificadorSuministro }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <!-- <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Nro Informe Inspección
                                                    </mat-label>
                                                    <input matInput value="{{ nroInformeInspeccion }}" disabled="true">
                                                </mat-form-field>
                                            </div> -->
                                            <!-- Motivo de Inspección -->
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Motivo de Inspección
                                                    </mat-label>
                                                    <input matInput value="{{ motivoInspeccion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            
                                            
                                            
                                             <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Trabajo Coordinado
                                                    </mat-label>
                                                    <input matInput value="{{ trabajoCoordinado }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Aprueba Inspección
                                                    </mat-label>
                                                    <input matInput value="{{ apruebaInspeccion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->

                                        <!-- <div class="row">
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Fecha de Notificación de Aviso de Intervención
                                                    </mat-label>
                                                    <input matInput value="{{ fechaNotificacionAvisoIntervencion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Registro Cumplimiento Artículo 171 RLCE
                                                    </mat-label>
                                                    <input matInput value="{{ registroCumplimientoArt171RLCE }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Registro Cumplimiento Numeral 71 Norma Reintegros Recuperos
                                                    </mat-label>
                                                    <input matInput value="{{ registroCumplimientoNumeral71NormaReintegrosRecuperos }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        
                                        <!-- <div class="row">
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Evaluación General de la Conexión Eléctrica
                                                    </mat-label>
                                                    <input matInput value="{{ evalGeneralConexionElectrica }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Evaluación del Sistema de Medición
                                                    </mat-label>
                                                    <input matInput value="{{ evalSistemaMedicion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Fecha Propuesta de Inicio de Aviso de Intervención
                                                    </mat-label>
                                                    <input matInput value="{{ fechaPropuestaInicioAvisoIntervencion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Hora Propuesta de Aviso Previo de Intervención
                                                    </mat-label>
                                                    <input matInput value="{{ horaPropuestaAvisoPrevioIntervencion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Fecha de Recepción de Aviso Previo de Intervención
                                                    </mat-label>
                                                    <input matInput value="{{ fechaRecepcionAvisoPrevioIntervencion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Hora de Recepción de Aviso Previo de Intervención
                                                    </mat-label>
                                                    <input matInput value="{{ horaRecepcionAvisoPrevioIntervencion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">

                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Prueba Vacío AD
                                                    </mat-label>
                                                    <input matInput value="{{ pruebaVacioAD }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Sticker de Contraste
                                                    </mat-label>
                                                    <input matInput value="{{ stickerContraste }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Sin Mica / Mica Rota
                                                    </mat-label>
                                                    <input matInput value="{{ sinMicaMicaRota }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Caja Sin Tapa / Tapa Mal Estado
                                                    </mat-label>
                                                    <input matInput value="{{ cajaSinTapaTapaMalEstado }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Sin Cerradura / Cerradura Mal Estado
                                                    </mat-label>
                                                    <input matInput value="{{ sinCerraduraCerraduraMalEstado }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Estado de Conexión
                                                    </mat-label>
                                                    <input matInput value="{{ estadoConexion }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Cliente Permite Inventario de Carga
                                                    </mat-label>
                                                    <input matInput value="{{ clientePermiteInventarioCarga }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Cortado Artículo 90
                                                    </mat-label>
                                                    <input matInput value="{{ cortadoArt90 }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Estado de Caja Porta Medidor
                                                    </mat-label>
                                                    <input matInput value="{{ estadoCajaPortaMedidor }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                        
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Toma con Reja
                                                    </mat-label>
                                                    <input matInput value="{{ tomaConReja }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-4">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>
                                                        Caja con Reja
                                                    </mat-label>
                                                    <input matInput value="{{ cajaConReja }}" disabled="true">
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="header">
                                        <h6>
                                            Pruebas de Carga
                                        </h6>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-12 example-container">
                                                <mat-table #table [dataSource]="cargas" matSort>
                                                    <ng-container matColumnDef="nro">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Nro
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row; let i = index">
                                                            {{ i + 1 }}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="pruebas_Carga_en_el_primario">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Pruebas de Carga en el Primario
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.pruebas_Carga_en_el_primario}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="fase">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Fase
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.fase}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="displayedColumnsCargas">
                                                    </mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumnsCargas;" [style.cursor]="'pointer'" matRipple>
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- R.I. CORRECCION 11/09/2023 FIN -->
                                    <div class="header">
                                        <h6>
                                            Irregularidades
                                        </h6>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-12 example-container">
                                                <mat-table #table [dataSource]="irregularidades" matSort>
                                                    <ng-container matColumnDef="nro">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Nro
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row; let i = index">
                                                            {{ i + 1 }}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="codigo">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Código
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.codigo}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="descripcion">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Descripción
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.descripcion}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="generaCNR">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Genera CNR
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.generaCNR}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="generaOrdenNormalizacion">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Genera Orden Normalización
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.generaOrdenNormalizacion}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="causal">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Causal
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.causal}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="displayedColumns2">
                                                    </mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">
                                        <h6>
                                            Tareas
                                        </h6>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-12 example-container">
                                                <mat-table #table [dataSource]="tareas" matSort>
                                                    <ng-container matColumnDef="select">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Realizado
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            <mat-checkbox (change)="noRealizado(row.id)" *ngIf="row.tareaEstado == 'S'" checked [disabled]="true">
                                                            </mat-checkbox>
                                                            <mat-checkbox (change)="realizado(row.id)" *ngIf="row.tareaEstado == 'N'" [disabled]="true">
                                                            </mat-checkbox>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="codAnormalidad">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Código de Anormalidad
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.codAnormalidad}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="codTarea">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Código de tarea
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.codTarea}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="tarea">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Descripción de tarea
                                                        </mat-header-cell>
                                                        <mat-cell *matCellDef="let row">
                                                            {{row.tarea}}
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="displayedColumns3">
                                                    </mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                                                    </mat-row>
                                                </mat-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo-scom']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>