<div class="container">
  <h3 mat-dialog-title>
    Seleccione el tipo de orden que desea crear
  </h3>
  <div mat-dialog-content>
    <mat-radio-group [(ngModel)]="ot">
      <table class="w-100">
        <br />
        <tr>
          <td>
            <mat-radio-button class="example-margin" checked="true" id="inspeccion" name="inspeccion" type="radio"
              value="Inspección">
              Inspección
            </mat-radio-button>
          </td>
          <td>
            <mat-radio-button class="example-margin" id="normalizacion" name="radio" type="radio" value="Normalización">
              Normalización
            </mat-radio-button>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <mat-radio-button class="example-margin" id="contraste" name="radio" type="radio" value="Contraste">
              Contraste
            </mat-radio-button>
          </td>
          <td>
            <mat-radio-button class="example-margin" id="mantenimiento" name="radio" type="radio" value="Mantenimiento">
              Mantenimiento
            </mat-radio-button>
          </td>
        </tr>
      </table>
    </mat-radio-group>
    <div mat-dialog-actions class="mb-1">
      <button mat-flat-button color="warn" [mat-dialog-close]="1" *ngIf="ot == 'Inspección'"
        [routerLink]="'/gestion-ordenes/orden-trabajo/crear-inspeccion'">
        Crear nueva orden
      </button>
      <button mat-flat-button color="warn" [mat-dialog-close]="1" *ngIf="ot == 'Normalización'"
        [routerLink]="'/gestion-ordenes/orden-trabajo/crear-normalizacion'">
        Crear nueva orden
      </button>
      <button mat-flat-button color="warn" [mat-dialog-close]="1" *ngIf="ot == 'Contraste'"
        [routerLink]="'/gestion-ordenes/orden-trabajo/crear-contraste'">
        Crear nueva orden
      </button>
      <button mat-flat-button color="warn" [mat-dialog-close]="1" *ngIf="ot == 'Mantenimiento'"
        [routerLink]="'/gestion-ordenes/orden-trabajo/crear-mantenimiento'">
        Crear nueva orden
      </button>
      <button mat-flat-button (click)="onNoClick()" tabindex="-1">
        Cancelar
      </button>
    </div>
  </div>