<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="titulo" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Realice las operaciones de creación de modelo de medidor, hay restriccciones en el sistema.
                        </h2>
                    </div>
                    <form [formGroup]="form">
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Marca
                                    </mat-label>
                                    <mat-select formControlName="id_marca" disabled #marca (selectionChange)="getModelos(marca.value)">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="marca.id" *ngFor="let marca of marcas">{{ marca.codigo }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Descripción de Marca
                                    </mat-label>
                                    <input matInput disabled value="{{ !codigo_marca ? '' : codigo_marca[0].descripcion }}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Modelo
                                    </mat-label>
                                    <mat-select formControlName="id_modelo" disabled>
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="modelo.id" *ngFor="let modelo of modelos">{{ modelo.codigo }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Descripción de Modelo
                                    </mat-label>
                                    <input matInput disabled value="{{ !codigo_modelo ? '' : codigo_modelo[0].descripcion }}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Número
                                    </mat-label>
                                    <input matInput formControlName="nro_medidor" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tipo ubicación
                                    </mat-label>
                                    <input matInput disabled value="ALMACÉN">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Ubicación
                                    </mat-label>
                                    <mat-select formControlName="id_ubicacion" disabled>
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="ubicacion.id" *ngFor="let ubicacion of ubicaciones">{{ ubicacion.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="example-full-width" appearance="fill" >
                                    <mat-label>
                                        Serie
                                    </mat-label>
                                    <input matInput formControlName="serie" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="body table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-12">
                                <ul class="header-buttons" *ngIf="ver == false">
                                    <li>
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                Medidas
                                            </mat-label>
                                            <mat-select formControlName="id_ubicacion">
                                                <mat-option value="">
                                                    Seleccionar
                                                </mat-option>
                                                <mat-option [value]="medida.id_medida + '-' + medida.desMedida + '-' + medida.id_ent_dec + '-' + medida.cant_entero + '-' + medida.cantDecimales + '-' + medida.id_factor + '-' + medida.codFactor + '-' + medida.desFactor + '-' + medida.valFactor" *ngFor="let medida of medidas">{{ medida.desMedida }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="icon-button-demo">
                                            <button mat-mini-fab color="primary" (click)="addMedida()">
                                                <mat-icon class="col-white">
                                                    add
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table [dataSource]="modeloData" matSort class="mat-cell">
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Medida
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.medida_descripcion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cant_ent">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Cant. Enteros
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.cant_enteros}} <!-- CHR 07-09-2023 INC000115648937 -->
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cant_dec">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Cant. Decimales
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.cant_decimales}} <!-- CHR 07-09-2023 INC000115648937 -->
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="factor_codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Factor codigo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.factor_codigo}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="factor_descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Factor descripción
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.factor_descripcion}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="factor_valor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Factor valor
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.factor_valor}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div style="text-align: center">
                    <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-medidores/medidores']">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>