
<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ingrese la información necesaria para la activación del suministro. Tener en cuenta que los campos con
                        etiquetas
                        “(*)” son obligatorios
                    </h2>
                </div>
                <div class="header">
                    <h4>
                        N° Cuenta Cliente : {{activarSuministroDetalle.numeroCuenta}}
                    </h4>
                    <br />
                </div>
                <mat-divider></mat-divider>
                <div class="body">
                    <h5>
                        CADENA ELÉCTRICA
                    </h5>
                </div>
                <mat-divider></mat-divider>
                    <form [formGroup]="formCadenaElectrica">
                        <div class="content__first-section">
                            <div class="body">
                                
                                <div class="row">
                                    
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                SET
                                            </mat-label>
                                            <input type="text"
                                            matInput
                                            formControlName="set"
                                            #input
                                            (click)="buscarSetCadenaElectrica($event)"
                                            (input)="buscarSetCadenaElectrica($event)"
                                            (keyup)="onAutocompleteKeyUp(input.value, setsCadenaElectrica)"
                                            [matAutocomplete]="autoSet">
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro.cadena.errors">
                                                <span *ngIf="formCadenaElectrica.get('set').hasError(validation.type) && formCadenaElectrica.get('set')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                            <mat-autocomplete autoActiveFirstOption #autoSet="matAutocomplete" [displayWith]="displaySet" (optionSelected)="onSelectedSet($event)"> 
                                            <mat-option *ngFor="let set of setsCadenaElectrica" [value]="set">
                                                {{set.codigo}}
                                            </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                Alimentador
                                            </mat-label>
                                            <input type="text"
                                            matInput
                                            formControlName="alimentador"
                                            #input
                                            (click)="buscarAlimentadorCadenaElectrica($event)"
                                            (input)="buscarAlimentadorCadenaElectrica($event)"
                                            (keyup)="onAutocompleteKeyUp(input.value, alimentadoresCadenaElectrica)"
                                            [matAutocomplete]="autoAlimentador">
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro.cadena.errors">
                                                <span *ngIf="formCadenaElectrica.get('alimentador').hasError(validation.type) && formCadenaElectrica.get('alimentador')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                            <mat-autocomplete autoActiveFirstOption #autoAlimentador="matAutocomplete" [displayWith]="displayAlimentador" (optionSelected)="onSelectedAlimentador($event)"> 
                                            <mat-option *ngFor="let alimentador of alimentadoresCadenaElectrica" [value]="alimentador">
                                                {{alimentador.codigo}}
                                            </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                SED
                                            </mat-label>
                                            <input type="text"
                                            matInput
                                            formControlName="sed"
                                            #input
                                            (click)="buscarSedCadenaElectrica($event)"
                                            (input)="buscarSedCadenaElectrica($event)"
                                            (keyup)="onAutocompleteKeyUp(input.value, sedsCadenaElectrica)"
                                            [matAutocomplete]="autoSed">
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro.cadena.errors">
                                                <span *ngIf="formCadenaElectrica.get('sed').hasError(validation.type) && formCadenaElectrica.get('sed')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                            <mat-autocomplete autoActiveFirstOption #autoSed="matAutocomplete" [displayWith]="displaySed" (optionSelected)="onSelectedSed($event)"> 
                                            <mat-option *ngFor="let sed of sedsCadenaElectrica" [value]="sed">
                                                {{sed.codigo}}
                                            </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                Llave
                                            </mat-label>
                                            <input type="text"
                                            matInput
                                            formControlName="llave"
                                            #input
                                            (click)="buscarLlaveCadenaElectrica($event)"
                                            (input)="buscarLlaveCadenaElectrica($event)"
                                            (keyup)="onAutocompleteKeyUp(input.value, llavesCadenaElectrica)"
                                            [matAutocomplete]="autoLlave">
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro.cadena.errors">
                                                <span *ngIf="formCadenaElectrica.get('llave').hasError(validation.type) && formCadenaElectrica.get('llave')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                            <mat-autocomplete autoActiveFirstOption #autoLlave="matAutocomplete" [displayWith]="displayLlave" (optionSelected)="onSelectedLlave($event)"> 
                                            <mat-option *ngFor="let llave of llavesCadenaElectrica" [value]="llave">
                                                {{llave.descripcion}}
                                            </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <mat-divider></mat-divider>
                    <form [formGroup]="formRutas">
                        <div class="content__second-section">
                            <div class="body">
                                <h5>
                                    RUTAS 
                                </h5>
                            </div>
                            <mat-divider></mat-divider>
                          <!--   <div class="header">
                                <h2>
                                    Ruta de Lectura
                                </h2>
                            </div> -->

                            <div class="body">
                                <div class="row">
                                    <div class="col-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                Sector
                                            </mat-label>
                                            <input matInput formControlName="sector" #inputSector (keyup)="onSectorKeyUp(inputSector.value)">
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro?.sector?.errors">
                                                <span *ngIf="formRutas.get('sector').hasError(validation.type) && formRutas.get('sector')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                Zona
                                            </mat-label>
                                            <input matInput formControlName="zona" #inputZona (keyup)="onZonaKeyUp(inputZona.value)">
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro?.zona?.errors">
                                                <span *ngIf="formRutas.get('zona').hasError(validation.type) && formRutas.get('zona')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>
                                                Correlativo
                                            </mat-label>
                                            <input matInput formControlName="correlativo" #inputCorrelativo (keyup)="onCorrelativoKeyUp(inputCorrelativo.value)"> 
                                            <mat-error *ngFor="let validation of errorMessage.activar_suministro?.correlativo?.errors">
                                                <span *ngIf="formRutas.get('correlativo').hasError(validation.type) && formRutas.get('correlativo')?.touched">
                                                {{ validation.message }}
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <!--         <div class="header">
                            <h2>
                                Ruta de Lectura
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Sector
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codLecturaSector"
                                        #input
                                        (input)="buscarLecturaSector($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, sectoresLecturaRuta)"
                                        [matAutocomplete]="autoLecturaSector">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codLecturaSector').hasError(validation.type) && formRutas.get('codLecturaSector')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoLecturaSector="matAutocomplete" [displayWith]="displayLecturaSector" (optionSelected)="onSelectedLecturaSector($event)"> 
                                        <mat-option *ngFor="let sector of sectoresLecturaRuta" [value]="sector">
                                            {{sector.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Zona
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codLecturaZona"
                                        #input
                                        (input)="buscarLecturaZona($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, zonasLecturaRuta)"
                                        [matAutocomplete]="autoLecturaZona">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codLecturaZona').hasError(validation.type) && formRutas.get('codLecturaZona')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoLecturaZona="matAutocomplete" [displayWith]="displayLecturaZona" (optionSelected)="onSelectedLecturaZona($event)"> 
                                        <mat-option *ngFor="let zona of zonasLecturaRuta" [value]="zona">
                                            {{zona.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Correlativo
                                        </mat-label>
                                        <input matInput formControlName="lecturaCorrelativo">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('lecturaCorrelativo').hasError(validation.type) && formRutas.get('lecturaCorrelativo')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h2>
                                Ruta de Corte
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Sector
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codRutaCorteSector"
                                        #input
                                        (input)="buscarCorteSector($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, sectoresCorteRuta)"
                                        [matAutocomplete]="autoCorteSector">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codRutaCorteSector').hasError(validation.type) && formRutas.get('codRutaCorteSector')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoCorteSector="matAutocomplete" [displayWith]="displayCorteSector" (optionSelected)="onSelectedCorteSector($event)"> 
                                        <mat-option *ngFor="let sector of sectoresCorteRuta" [value]="sector">
                                            {{sector.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Zona
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codRutaCorteZona"
                                        #input
                                        (input)="buscarCorteZona($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, zonasCorteRuta)"
                                        [matAutocomplete]="autoCorteZona">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codRutaCorteZona').hasError(validation.type) && formRutas.get('codRutaCorteZona')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoCorteZona="matAutocomplete" [displayWith]="displayCorteZona" (optionSelected)="onSelectedCorteZona($event)"> 
                                        <mat-option *ngFor="let zona of zonasCorteRuta" [value]="zona">
                                            {{zona.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Correlativo
                                        </mat-label>
                                        <input matInput formControlName="rutaCorteCorrelativo">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('rutaCorteCorrelativo').hasError(validation.type) && formRutas.get('rutaCorteCorrelativo')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h2>
                                Ruta de Facturación
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Sector
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codRutaFacturacionSector"
                                        #input
                                        (input)="buscarFacturacionSector($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, sectoresFacturacionRuta)"
                                        [matAutocomplete]="autoFacturacionSector">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codRutaFacturacionSector').hasError(validation.type) && formRutas.get('codRutaFacturacionSector')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoFacturacionSector="matAutocomplete" [displayWith]="displayFacturacionSector" (optionSelected)="onSelectedFacturacionSector($event)"> 
                                        <mat-option *ngFor="let sector of sectoresFacturacionRuta" [value]="sector">
                                            {{sector.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Zona
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codRutaFacturacionZona"
                                        #input
                                        (input)="buscarFacturacionZona($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, zonasFacturacionRuta)"
                                        [matAutocomplete]="autoFacturacionZona">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codRutaFacturacionZona').hasError(validation.type) && formRutas.get('codRutaFacturacionZona')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoFacturacionZona="matAutocomplete" [displayWith]="displayFacturacionZona" (optionSelected)="onSelectedFacturacionZona($event)"> 
                                        <mat-option *ngFor="let zona of zonasFacturacionRuta" [value]="zona">
                                            {{zona.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Correlativo
                                        </mat-label>
                                        <input matInput formControlName="rutaFacturacionCorrelativo">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('rutaFacturacionCorrelativo').hasError(validation.type) && formRutas.get('rutaFacturacionCorrelativo')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h2>
                                Ruta de Reparto
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Sector
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codRutaRepartoSector"
                                        #input
                                        (input)="buscarRepartoSector($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, sectoresRepartoRuta)"
                                        [matAutocomplete]="autoRepartoSector">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codRutaRepartoSector').hasError(validation.type) && formRutas.get('codRutaRepartoSector')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoRepartoSector="matAutocomplete" [displayWith]="displayRepartoSector" (optionSelected)="onSelectedRepartoSector($event)"> 
                                        <mat-option *ngFor="let sector of sectoresRepartoRuta" [value]="sector">
                                            {{sector.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Zona
                                        </mat-label>
                                        <input type="text"
                                        matInput
                                        formControlName="codRutaRepartoZona"
                                        #input
                                        (input)="buscarRepartoZona($event)"
                                        (keyup)="onAutocompleteKeyUp(input.value, zonasRepartoRuta)"
                                        [matAutocomplete]="autoRepartoZona">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('codRutaRepartoZona').hasError(validation.type) && formRutas.get('codRutaRepartoZona')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                        <mat-autocomplete autoActiveFirstOption #autoRepartoZona="matAutocomplete" [displayWith]="displayRepartoZona" (optionSelected)="onSelectedRepartoZona($event)"> 
                                        <mat-option *ngFor="let zona of zonasRepartoRuta" [value]="zona">
                                            {{zona.codigo}}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Correlativo
                                        </mat-label>
                                        <input matInput formControlName="rutaRepartoCorrelativo">
                                        <mat-error *ngFor="let validation of errorMessage.activar_suministro.errors">
                                            <span *ngIf="formRutas.get('rutaRepartoCorrelativo').hasError(validation.type) && formRutas.get('rutaRepartoCorrelativo')?.touched">
                                            {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        </div> -->
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="content__align-items">
                <button mat-raised-button color="primary" (click)="submitActivarSuministro()" [disabled]="!formCadenaElectrica.valid || !formRutas.valid || disabledButton">
                    Activar
                </button>
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1" (click)="cancelar()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>
