<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="titulo" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Realice las operaciones de creación de modelo de medidor, hay restriccciones en el sistema.
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Marca
                                    </mat-label>
                                    <mat-select formControlName="id_marca" #marcaSelect (selectionChange)="getCodigoMarca(marcaSelect.value)">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="marca.id" *ngFor="let marca of marcas; let i = index">{{ marca.codigo }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Descripción de Marca
                                    </mat-label>
                                    <input matInput formControlName="cod_marca" value="{{ !codigo_marca ? '' : codigo_marca[0].descripcion }}">
                                    
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Código de Modelo
                                    </mat-label>
                                    <input matInput formControlName="cod_modelo" #input maxlength="10" oninput="this.value = this.value.toUpperCase()">
                                    
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Descripción de Modelo
                                    </mat-label>
                                    <input matInput formControlName="des_modelo" maxlength="100" oninput="this.value = this.value.toUpperCase()">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Cantidad años
                                    </mat-label>
                                    <input matInput type="number" formControlName="cant_anos_vida" maxlength="4">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Cantidad años en almacen
                                    </mat-label>
                                    <input matInput type="number" formControlName="cant_anos_almacen" maxlength="4">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de sellos de medidor
                                    </mat-label>
                                    <input matInput type="number" formControlName="nro_sellos_medidor" maxlength="4" #inputNroSellos (keyup)="onKeyUpNroSellosMedidor(inputNroSellos.value)">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Nro de sellos de bornera
                                    </mat-label>
                                    <input matInput type="number" formControlName="nro_sellos_bornera" maxlength="4" #inputNroSelloBornea (keyup)="onKeyUpNroSelloBornea(inputNroSelloBornea.value)">
                                </mat-form-field>
                            </div>
                            <div class="col-8">
                                <mat-label>
                                    Opciones
                                </mat-label>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <input matInput [hidden]="true">
                                    <mat-checkbox class="example-margin" formControlName="es_reacondicionador">Reacondicionado</mat-checkbox>
                                    <mat-checkbox class="example-margin" formControlName="es_reseteado">Reseteado</mat-checkbox>
                                    <mat-checkbox class="example-margin" formControlName="es_patron">Patrón</mat-checkbox>
                                    <mat-checkbox class="example-margin" formControlName="es_totalizador">Totalizador</mat-checkbox>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Clase de medidor
                                    </mat-label>
                                    <input matInput formControlName="clase_medidor" maxlength="10" pattern="^[0-9]+(.[0-9]+)?$" #inputClaseMedidor (keyup)="onKeyClaseMedidor(inputClaseMedidor.value)">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Fase
                                    </mat-label>
                                    <mat-select formControlName="id_fase">
                                        <mat-option value="">Seleccionar</mat-option>
                                        <mat-option [value]="fase.id" *ngFor="let fase of fases">{{ fase.desFase }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Amperaje
                                    </mat-label>
                                    <mat-select formControlName="id_amperaje">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="amperaje.id" *ngFor="let amperaje of amperajes">{{ amperaje.desAmperaje }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tipo de medición
                                    </mat-label>
                                    <mat-select formControlName="id_tipo_medicion">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="tipoMedicion.id" *ngFor="let tipoMedicion of tipoMediciones">{{ tipoMedicion.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Voltaje
                                    </mat-label>
                                    <mat-select formControlName="id_voltaje">
                                        <mat-option>
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="voltaje.id" *ngFor="let voltaje of voltajes">{{ voltaje.desVoltaje }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tensión
                                    </mat-label>
                                    <mat-select formControlName="id_tension">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="tension.id" *ngFor="let tension of tensiones">{{ tension.desTension }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Tecnologia
                                    </mat-label>
                                    <mat-select formControlName="id_tecnologia">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="tecnologia.id" *ngFor="let tecnologia of tecnologias">{{ tecnologia.desTecnologia }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Registrador
                                    </mat-label>
                                    <mat-select formControlName="id_registrador">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="registrador.id" *ngFor="let registrador of registradores">{{ registrador.desRegistrador }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Constante
                                    </mat-label>
                                    <input matInput type="number" formControlName="constante" maxlength="10">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Unidad medida constante
                                    </mat-label>
                                    <mat-select formControlName="id_unidad_medida_constante">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="unidad.id" *ngFor="let unidad of unidadMedidaConstantes">{{ unidad.desUniMedConst }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                        Cantidad de hilos
                                    </mat-label>
                                    <input matInput type="number" formControlName="cant_hilos" maxlength="10">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <div style="text-align: center; padding-bottom: 20px;">
                                <button  mat-raised-button color="primary" [disabled]="!form.valid" *ngIf="ver == false" (click)="store()">
                                    {{ boton }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </form>
    
        <div *ngIf="idUrl">
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
                    <div class="card">
                        <div class="header">
                            <h2>
                               <b>GESTIONAR MEDIDAS POR MODELO</b> 
                            </h2>
                        </div>
                    </div>
                       
                    <div class="body">
                        <div class="materialTableHeader" style="height: 82px !important;">
                            <form [formGroup]="formMedida">
                            <div class="row">
                                <div class="col-md-3">
                                   
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                        Medida
                                        </mat-label>
                                        <mat-select formControlName="id_medida">
                                        <mat-option value="">
                                            Seleccionar
                                        </mat-option>
                                        <mat-option [value]="medida.id" *ngFor="let medida of medidas">{{ medida.desMedida }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of errorMessage.modelo.errors">
                                            <span *ngIf="formMedida.get('id_medida').hasError(validation.type) && formMedida.get('id_medida')?.touched">
                                              {{ validation.message }}
                                            </span>
                                          </mat-error>
                                    </mat-form-field>
                                    
                                     
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                      <mat-label>
                                        Cantidad de enteros y decimales
                                      </mat-label>
                                      <mat-select formControlName="id_ent_dec" required>
                                        <mat-option value="">
                                          Seleccionar
                                        </mat-option>
                                        <mat-option [value]="ent.id + '-' + ent.cantEnteros + '-' + ent.cantDecimales" *ngFor="let ent of entDec">{{ ent.cantEnteros }} - {{ ent.cantDecimales }}</mat-option>
                                      </mat-select>
                                      <mat-error *ngFor="let validation of errorMessage.modelo.errors">
                                        <span *ngIf="formMedida.get('id_ent_dec').hasError(validation.type) && formMedida.get('id_ent_dec')?.touched">
                                          {{ validation.message }}
                                        </span>
                                      </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- INICIO CHR 04-07-23 -->
                                <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>
                                    Tipo de cálculo
                                    </mat-label>
                                    <mat-select formControlName="id_tip_calculo">
                                    <mat-option value="">
                                        Seleccionar
                                    </mat-option>
                                    <mat-option [value]="calculo.id" *ngFor="let calculo of tipoCalculo">{{ calculo.desTipCalculo }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngFor="let validation of errorMessage.modelo.errors">
                                        <span *ngIf="formMedida.get('id_tip_calculo').hasError(validation.type) && formMedida.get('id_tip_calculo')?.touched">
                                          {{ validation.message }}
                                        </span>
                                      </mat-error>
                                </mat-form-field>
                            </div>
                                <!-- FIN CHR 04-07-23 -->

                                <div class="col-md-3">
                                    <div class="icon-button-demo" style="margin-top: 8px !important;">
                                        <button mat-raised-button color="primary" (click)="agregarMedida()" [disabled]="!formMedida.valid">
                                            Agregar Medida
                                          </button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        
                        <div>
                            <mat-table #table [dataSource]="modeloData" class="mat-cell">
                                <ng-container matColumnDef="nro">
                                    <mat-header-cell *matHeaderCellDef >
                                        Nro
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        {{ i + 1 }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>
                                        Medida
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.medida_descripcion}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cant_ent">
                                    <mat-header-cell *matHeaderCellDef>
                                        Cant. Enteros
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.cant_enteros}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="cant_dec">
                                    <mat-header-cell *matHeaderCellDef>
                                        Cant. Decimales
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.cant_decimales}}
                                    </mat-cell>
                                </ng-container>
                              
                                <ng-container matColumnDef="des_tip_calculo">
                                    <mat-header-cell *matHeaderCellDef>
                                        Tipo cálculo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.des_tip_calculo}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef style="padding: 0px 0px 0px 20px !important;">
                                        Seleccionar
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" style="padding: 0px 0px 0px 20px !important;">
                                        <mat-radio-button (change)="check(row)">
                                        </mat-radio-button>
                                       
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="margin-top: 30px ;">
                        <div class="header">
                            <h2>
                               <b>GESTIONAR FACTOR</b> 
                            </h2>
                        </div>
                    </div>
    
                    <div class="body">
                        <div class="materialTableHeader">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="icon-button-demo">
                                        <button mat-raised-button color="primary" (click)="openModal()">
                                            Agregar Factor
                                          </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 example-container">
                            <mat-table #table [dataSource]="modeloFactoresData">
                                <ng-container matColumnDef="nro">
                                    <mat-header-cell *matHeaderCellDef>
                                        Nro
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        {{ i + 1 }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="desFactor">
                                    <mat-header-cell *matHeaderCellDef>
                                        Factor descripción
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.desFactor}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="valFactor">
                                    <mat-header-cell *matHeaderCellDef>
                                        Factor valor
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.valFactor}}
                                    </mat-cell>
                                </ng-container>
                               
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>
                                        Acción
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        <button class="btn tblActnBtn h-auto" (click)="remove(i, row)">
                                            <i class="material-icons align-middle">
                                                delete
                                            </i>
                                            <span>
                                            </span>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="factorDisplayedColumns">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: factorDisplayedColumns;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-8">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div style="text-align: center; margin: 20px 0px;">
                       
                        <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-medidores/modelos']">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>