.example-container {
    min-width: auto;
    overflow: auto;
  }
  
  .example-container-tab{
    min-width: auto;
  }
  
  .w-65 {
    max-width: 65px !important;
  }
  
  .w-75 {
    max-width: 75px !important;
  }
  
  .w-85 {
    max-width: 85px !important;
  }
  
  .w-90 {
    max-width: 90px !important;
  }
  
  .w-73 {
    max-width: 73px !important;
  }

  .w-100 {
    max-width: 100px !important;
  }

  .w-120 {
    max-width: 100px !important;
  }
  
  .mat-column- {
    display: flex;
    justify-content: flex-end;
    }
  
    .w-50 {
      max-width: 50px !important;
    }
  
    .example-container {
      min-width: 1200px;
      overflow: auto
    }
  
    .container__max{
      width: 100%;
    }
  
  /* 
  
  .w-70 {
    max-width: 70% !important;
  }
  
  .w-80 {
    max-width: 80% !important;
  } */