<style>
    .mat-flat-button {
      height: 48px !important;
      width: 48px !important;
    }
  </style>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>
                  Realice las operaciones de crear, editar y modificar las órdenes de acuerdo al tipo, hay restriccciones en
                  el sistema
                </h2>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Tipo de Proceso
                      </mat-label>
                      <mat-select formControlName="codTipoProceso" (selectionChange)="selectTipoOrden($event)">
                        <mat-option [value]="proceso.valorAlf" *ngFor="let proceso of procesos">{{ proceso.descripcion }}</mat-option>
                        <mat-option [value]="'TODO'">Todos</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Tipo de Orden
                      </mat-label>
                      <mat-select formControlName="idTipoOrden">
                        <mat-option [value]="tipoOrden.codigoTipoOrden" *ngFor="let tipoOrden of tiposOrden">{{ tipoOrden.descripcion }}</mat-option>
                        <mat-option [value]="'TODO'">Todos</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Estado
                      </mat-label>
                      <mat-select formControlName="idEstado">
                        <mat-option [value]="estado.valorAlf" *ngFor="let estado of estados">{{ estado.descripcion }}</mat-option>
                        <mat-option [value]="'TODO'">Todos</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Fecha de creación (Desde)
                      </mat-label>
                      <input formControlName="fechaInicio" matInput [matDatepicker]="pickerInicio" [max]="maxDate"/>
                      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                      <mat-datepicker  #pickerInicio></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Fecha de creación (Hasta)
                      </mat-label>
                      <input formControlName="fechaFin" matInput [matDatepicker]="pickerFin" [max]="maxDate"/>
                      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFin></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Número de Orden
                      </mat-label>
                      <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroOrden">
                      <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                        <span *ngIf="form.get('nroOrden').hasError(validation.type) && form.get('nroOrden')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        N° Servicio
                      </mat-label>
                      <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="idServicio">
                      <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                        <span *ngIf="form.get('idServicio').hasError(validation.type) && form.get('idServicio')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
              
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        N° Cuenta
                      </mat-label>
                      <input matInput type="text" (keydown.space)="$event.preventDefault();" formControlName="nroCuenta">
                      <mat-error *ngFor="let validation of errorMessage.orden_trabajo.errors">
                        <span *ngIf="form.get('nroCuenta').hasError(validation.type) && form.get('nroCuenta')?.touched">
                          {{ validation.message }}
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
              
                  <div class="col-2">
                    <button mat-raised-button color="primary" (click)="submitOrdenTrabajo()" [disabled]="!form.valid">
                      Filtrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div class="row">
          <div class="col-md-12">
            <div class="materialTableHeader">
            
              <ul class="header-buttons">
                <li>
                  <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" matTooltip=" Exportar XLSX" 
                      (click)="exportFile()" >
                          <mat-icon class="col-white">download</mat-icon>
                      </button>
                  </div>
              </li>
              </ul>
            </div>
              <div class="body table-responsive">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef>
                          Id
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.id}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="item" >
                        <mat-header-cell *matHeaderCellDef class="w-65">
                          Item
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row ; let i = index;" class="w-65">
                          {{countItem + i}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="nroOrden" >
                        <mat-header-cell *matHeaderCellDef>
                          Nro. Orden
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.nroOrden}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="codTipoOrden">
                        <mat-header-cell *matHeaderCellDef>
                          Tipo Orden
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.codTipoOrden}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef>
                          Estado
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.estado}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="nroServicio">
                        <mat-header-cell *matHeaderCellDef>
                          N° Servicio
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.nroServicio}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="nroCuenta">
                        <mat-header-cell *matHeaderCellDef>
                          N° Cuenta
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.nroCuenta}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="fechaEstado">
                        <mat-header-cell *matHeaderCellDef>
                          Fecha de Estado
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.fechaEstado | date: 'dd/MM/yyyy'}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="fechaCreacion">
                        <mat-header-cell *matHeaderCellDef>
                          Fecha de Creación
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.fechaCreacion | date: 'dd/MM/yyyy'}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="usuarioCreador">
                        <mat-header-cell *matHeaderCellDef>
                          Usuario Creador
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.usuarioCreador}}
                        </mat-cell>
                      </ng-container>
                      <!-- R.I. REQSCOM08 07/07/2023 INICIO -->
                      <ng-container matColumnDef="fechaEjecucion">
                        <mat-header-cell *matHeaderCellDef>
                          Fecha de Ejecución
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.fechaEjecucion}}
                        </mat-cell>
                      </ng-container>
                      <!-- R.I. REQSCOM08 07/07/2023 FIN -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="w-85">
                          Acción
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="w-85">
                          <button class="btn tblActnBtn h-auto" mat-menu-item
                          (click)="sendUrlVer(row.codTipoOrden, row.id)">
                            <i class="material-icons align-middle">
                              remove_red_eye
                            </i>
                          </button>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </mat-table>
              </div>
              <mat-paginator [length]="totalElements"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 25, 100]"
              (page)="pageChanged($event)"
              aria-label="Select page">
              </mat-paginator>
            </div>
            
          
        </div>
    
    </div>
  </section>
