 .scom-sidebar {
    background-color: #0555FA;
}



/* .scom-sidebar .menu .list a span {
    color: white;
}

.scom-sidebar .menu .list a {
    color: white;
}
 */


/* .menu_light .scom-sidebar .menu .list a::before {
    color: white !important;
}  */


.scom-user__info {
    font-size: 12px;
    color: #e6e6e6;
}