<div>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar scom-sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
    <!-- Menu -->
    <div class="menu">
      <ul id="sidebarnav" class="list"
        [ngStyle]="{'position' : 'relative', 'max-height' : listMaxHeight+'px', 'max-width' : listMaxWidth+'px'}"
        [perfectScrollbar]>
        <li class="sidebar-user-panel">
          <div class="user-panel">
            <div class=" image">
              <img src="assets/scom-images/user.png" class="img-circle user-img-circle" alt="User Image" />
            </div>
          </div>
          <div class="profile-usertitle">
            <div class="sidebar-userpic-name">{{usuarioPerfilSession.username}} </div>
            <div class="scom-user__info">{{ usuarioPerfilSession.nombrePerfil}} </div>
          </div>
        </li>
        <!-- Top Most level menu -->
        <li [class.active]="level1Menu === sidebarItem.nombre_modulo && sidebarItem.sub_items.length != 0"
          *ngFor="let sidebarItem of menus" [routerLinkActive]="sidebarItem.sub_items.length != 0 ? '' : 'active'">
          <div class="header" *ngIf="sidebarItem.titulo_grupo === true">{{sidebarItem.nombre | translate}}</div>
          <a [routerLink]="sidebarItem.clase === '' ? [sidebarItem.url] : null" *ngIf="!sidebarItem.titulo_grupo;"
            [ngClass]="[sidebarItem.clase]" (click)="callLevel1Toggle($event, sidebarItem.nombre_modulo)" class="menu-top">
            <i-feather [name]="sidebarItem.icono" class="sidebarIcon scom-sidebar__icon"></i-feather>
            <span class="hide-menu">{{sidebarItem.nombre | translate}}
            </span>
          </a>
          <!-- First level menu -->

    <!--       <ul class="ml-menu" *ngIf="sidebarItem.submenu.length > 0">
            <li [ngClass]="level2Menu === sidebarSubItem.moduleName? 'activeSub':''"
              *ngFor="let sidebarSubItem of sidebarItem.submenu"
              [routerLinkActive]="sidebarSubItem.submenu.length > 0 ? '' : 'active'">
              <a [routerLink]="sidebarSubItem.submenu.length > 0 ? null : [sidebarSubItem.path]"
                (click)="callLevel2Toggle($event,sidebarSubItem.moduleName)" [ngClass]="[sidebarSubItem.class]">
                {{sidebarSubItem.title | translate}}
              </a> -->
          <ul class="ml-menu" *ngIf="sidebarItem?.sub_items?.length > 0">
            <li [ngClass]="level2Menu === sidebarSubItem.nombre_modulo? 'activeSub':''"
              *ngFor="let sidebarSubItem of sidebarItem.sub_items"
              [routerLinkActive]="sidebarSubItem.sub_items?.length > 0 ? '' : 'active'">
              <a [routerLink]="sidebarSubItem.sub_items?.length > 0 ? null : [sidebarSubItem.url]"
                (click)="callLevel2Toggle($event,sidebarSubItem.nombre_modulo)" [ngClass]="[sidebarSubItem.clase]">
                {{sidebarSubItem.nombre | translate}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</div>
