<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Ingrese la informacion necesaria para generar el reporte. Tener en cuenta que los campos con
                            etiquetas “(*)” son obligatorios
                        </h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha Activación (Desde)
                                        </mat-label>
                                        <span matPrefix>
                                        </span>
                                        <input formControlName="fechaInicio" matInput
                                            [matDatepicker]="pickerFechaInicio" />
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaInicio></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Fecha Activación (Hasta)
                                        </mat-label>
                                        <span matPrefix>
                                        </span>
                                        <input formControlName="fechaFin" matInput [matDatepicker]="pickerFechaFin" />
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaFin></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Situación PCR
                                        </mat-label>
                                        <mat-select formControlName="situacion">
                                            <mat-option [value]="''">Todos</mat-option>
                                            <mat-option [value]="situacion.id" *ngFor="let situacion of situaciones">{{
                                                situacion.descripcion }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Número Cliente
                                        </mat-label>
                                        <input matInput formControlName="nroCliente">
                                        <mat-error *ngFor="let validation of errorMessage.reporte_medidores.errors">
                                            <span
                                                *ngIf="form.get('nroCliente').hasError(validation.type) && form.get('nroCliente ')?.touched">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>
                                            Tipo de Asignación
                                        </mat-label>
                                        <mat-select formControlName="idTipoAsignacion">
                                            <mat-option [value]="tipo.id" *ngFor="let tipo of tipoAsignaciones">{{
                                                tipo.descripcion }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-4">
                                    <button mat-flat-button color="primary" class="mat-flat-button"
                                        (click)="submitFilterReporteAsignacionPCR()">
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="body table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-12">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="icon-button-demo">
                                            <button mat-mini-fab color="primary" matTooltip="Exportar XLSX" 
                                            (click)="exportFile()" >
                                                <mat-icon class="col-white">download</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource">
                        <ng-container matColumnDef="item">
                            <mat-header-cell *matHeaderCellDef class="w-75">
                                Nro
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index">
                                {{countItem + i}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nroCliente">
                            <mat-header-cell *matHeaderCellDef>
                                N° Cliente
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.nroCliente}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nombreCliente">
                            <mat-header-cell *matHeaderCellDef>
                                Nombre Cliente
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.nombreCliente}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fechaActivacion">
                            <mat-header-cell *matHeaderCellDef>
                                Fecha Activación
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.fechaActivacion | date:'dd-MM-yyyy HH:mm:ss'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="situacionPCR">
                            <mat-header-cell *matHeaderCellDef>
                                Situación PCR
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.situacionPCR}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="pageChanged($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <div class="row clearfix mt-4">
            <!-- Bar Chart -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                    <div class="content_title">
                        <h3>Representación Gráfica Reporte Asignación PCR Cantidad X Situación</h3>
                    </div>
                </div>
                <div class="card-body">
                  <div class="content_chart">
                    <ngx-charts-bar-vertical [results]="chartBarValues" [gradient]="gradient"
                      [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendPosition]="legendPosition"
                      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="vbarxAxisLabel"
                      [yAxisLabel]="vbaryAxisLabel">
                    </ngx-charts-bar-vertical>
                  </div>
                </div>
              </div>
            </div>
            <!-- #END# Bar Chart -->
          </div>
    </div>
</section>
