<style>
    .mat-flat-button {
        height: 48px !important;
        width: 48px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ingrese la información necesaria a la nueva orden. Tener en cuenta que los campos con
                        etiquetas
                        “(*)” son obligatorios
                    </h2>
                </div>
                <form [formGroup]="form">
                <div class="body">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Orden
                                </mat-label>
                                <input matInput value="{{ nroOrden }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Numero de servicio eléctrico
                                </mat-label>
                                <input matInput formControlName="nroServicio" maxlength="10" pattern="[0-9]*">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <button mat-raised-button color="primary" (click)="buscarCliente()" *ngIf="botonBuscar == true"  [disabled]="!form.valid">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                </form>
                <div class="header">
                    <h2>
                        Datos del Cliente / Suministro
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de servicio
                                </mat-label>
                                <input matInput value="{{ nroServicio }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nro de Cuenta
                                </mat-label>
                                <input matInput value="{{ nroCuenta }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Nombre del cliente
                                </mat-label>
                                <input matInput value="{{ cliente }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Dirección
                                </mat-label>
                                <input matInput value="{{ direccion }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Distrito
                                </mat-label>
                                <input matInput value="{{ distrito }}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Ruta de lectura
                                </mat-label>
                                <input matInput value="{{ rutaLectura }}" disabled="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <h2>
                        Datos de la Orden
                    </h2>
                </div>
                <form [formGroup]="form3">
                <div class="body">
                    <h6>
                        Órdenes de Inspección notificadas (*)
                    </h6>
                    <div class="row">
                        <div class="col-md-12 example-container">
                            <mat-table #table [dataSource]="ordenInspeccionNotificadas" matSort>
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <mat-radio-button (change)="check(row.id)" [checked]="true" *ngIf="row.id == idOrdenInspeccion">
                                        </mat-radio-button>
                                        <mat-radio-button (change)="check(row.id)" *ngIf="row.id != idOrdenInspeccion">
                                        </mat-radio-button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="nro">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nro
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        {{ i + 1 }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="nroOrden">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nro de Orden
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.nroOrden}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fechaCreacion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Fecha de Creación
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="contratista">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Contratista
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.contratista}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="tipoInspeccion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Tipo de Inspección
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.tipoInspeccion}}
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="body">
                    <h6>
                        Irregularidades
                    </h6>
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> Anormalidades
                                    </mat-label>
                                    <mat-select #anormalidad formControlName="idAnormalidad">
                                        <mat-option [value]="item.id + '-' + item.codigo + '-' + item.descripcion + '-' + item.genCnr + '-' + item.genOrdNorm + '-' + item.desCausal" *ngFor="let item of anormalidades">{{ item.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-button-demo">
                                    <button mat-mini-fab color="primary">
                                        <mat-icon class="col-white" (click)="getTareas()">
                                            add
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 example-container">
                            <mat-table #table [dataSource]="irregularidades" matSort>
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Nro
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        {{ i + 1 }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="codigo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Código
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.codigo}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="descripcion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Descripción
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.descripcion}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="generaCNR">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Genera CNR
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.generaCNR}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="generaOrdenNormalizacion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Genera Orden Normalización
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.generaOrdenNormalizacion}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="causal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Causal
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.causal}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Acción
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        <button class="btn tblActnBtn h-auto" (click)="remove(i, row)">
                                            <i class="material-icons align-middle">
                                                delete
                                            </i>
                                            <span>
                                            </span>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns2">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                    <br />
                </div>
                </form>
                <form [formGroup]="form2">
                <div class="body">
                    <h6>
                        Tareas
                    </h6>
                    <div class="row">
                        <div class="col-md-12 example-container">
                            <mat-table #table [dataSource]="tareas" matSort>
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Realizado
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">
                                        <mat-checkbox (change)="realizado(row, i)" *ngIf="row.tareaEstado == 'N'">
                                        </mat-checkbox>
                                        <mat-checkbox (change)="noRealizado(row, i)" *ngIf="row.tareaEstado == 'S'" checked>
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="codAnormalidad">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Código de Anormalidad
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.codAnormalidad}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="codTarea">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Código de tarea
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.codTarea}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="tarea">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Descripción de tarea
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.tarea}}
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns3">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns3;" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Subtipo de Orden
                                </mat-label>
                                <mat-select formControlName="subtipo">
                                    <mat-option [value]="item.descripcion" *ngFor="let item of subtipos">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    Observaciones
                                </mat-label>
                                <textarea matInput formControlName="observaciones"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div style="text-align: center">
                <button mat-raised-button color="primary" [disabled]="form.invalid || form2.invalid || form3.invalid || (botonActivar == false)" (click)="store()" *ngIf="!botonGuardar">
                    {{ botonSubmit }}
                </button>
                &nbsp;
                <button mat-raised-button color="warn" tabindex="-1" [routerLink]="['/gestion-ordenes/orden-trabajo']">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>