<div class="container">
  <h3 mat-dialog-title>
    Aviso de acción
  </h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p>
          <span class="font-weight-bold">
            ¿Esta seguro de Eliminar la Marca?
          </span>
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" (click)="confirmDelete()">
      Aceptar
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">
      Cancelar
    </button>
  </div>
</div>