/* You can add global styles to this file, and also import other style files */
.color-snackbar {
    background-color: #4f5274 !important;
    color: white;
  }
  
.color-snackbar button{
    color: white;
  }
