/*
.cell-with-spacing {
    display: flex;
    justify-content: left;
}
.column-with-spacing {
    padding-right: 10px;
}

.table-with-spacing mat-cell {
    padding-right: 100px!important;
  }
  
*/
.mat-column-id {
    flex: 0 0 8%;
}

.mat-column-nroMedidor {
    flex: 0 0 9%;
}

.mat-column-marca {
    flex: 0 0 9%;
}

.mat-column-modelo {
    flex: 0 0 9%;
}

.mat-column-estado {
    flex: 0 0 9%;
}

.mat-column-usuario {
    flex: 0 0 12%;
}

.mat-column-fechaEstado {
    flex: 0 0 17%;
}

.mat-column-fechaCreacion {
    flex: 0 0 17%;
}

.mat-column-actions {
    flex: 0 0 10%;
}