<style>
    .mat-flat-button {
      height: 48px !important;
      width: 48px !important;
    }
  </style>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>
                Ingrese la información necesaria del nuevo medidor. Tener en cuenta que los campos con etiquetas “<span class="class-label-red">(*)</span>”
                son obligatorios
              </h2>
            </div>
            <div class="body">
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Nro medidor
                      </mat-label>
                      <input matInput formControlName="nroMedidor" maxlength="15" pattern="[0-9]*">
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Marca
                      </mat-label>
                      <mat-select formControlName="idMarca" #marca (selectionChange)="getModelos(marca.value)">
                        <mat-option [value]="">--- Seleccione ---</mat-option>
                        <mat-option [value]="marca.id" *ngFor="let marca of marcas">{{ marca.codigo }}</mat-option>
                      </mat-select>
                    </mat-form-field>   
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Modelo
                      </mat-label>
                      <mat-select formControlName="idModelo">
                        <mat-option [value]="">--- Seleccione ---</mat-option>
                        <mat-option [value]="modelo.id" *ngFor="let modelo of modelos">{{ modelo.codigo }}</mat-option>
                      </mat-select>
                    </mat-form-field>   
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Estados
                      </mat-label>
                      <mat-select formControlName="idEstado">
                        <mat-option [value]="">--- Seleccione ---</mat-option>
                        <mat-option [value]="estado.id" *ngFor="let estado of estados">{{ estado.descripcion }}</mat-option>
                      </mat-select>
                    </mat-form-field>   
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Fecha de creación (Desde) <span class="class-label-red">(*)</span>
                      </mat-label>
                      <span matPrefix>
                      </span>
                      <input formControlName="fechaInicio" matInput [matDatepicker]="pickerInicio"/>
                      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                      <mat-datepicker #pickerInicio></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Fecha de creación (Hasta) <span class="class-label-red">(*)</span>
                      </mat-label>
                      <span matPrefix>
                      </span>
                      <input formControlName="fechaFin" matInput [matDatepicker]="pickerFin" [max]="maxDate"/>
                      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFin></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Fecha de cambio de estado (Desde)
                      </mat-label>
                      <span matPrefix>
                      </span>
                      <input formControlName="fechaInicioEstado" matInput [matDatepicker]="pickerInicioEstado"/>
                      <mat-datepicker-toggle matSuffix [for]="pickerInicioEstado"></mat-datepicker-toggle>
                      <mat-datepicker #pickerInicioEstado></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Fecha de cambio de estado (Hasta)
                      </mat-label>
                      <span matPrefix>
                      </span>
                      <input formControlName="fechaFinEstado" matInput [matDatepicker]="pickerFinEstado" [max]="maxDate"/>
                      <mat-datepicker-toggle matSuffix [for]="pickerFinEstado"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFinEstado></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>
                        Usuario Creador
                      </mat-label>
                      <input matInput formControlName="usuario" maxlength="50" pattern="[a-zA-Z0-9 ]*" oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <button mat-raised-button color="primary" (click)="getMedidor()" [disabled]="!form.valid">
                      Filtrar
                    </button>
                  </div>
                </div>
              <!--</div> 2023.10.05 tag comengado por error detectado al compilar-->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="body table-responsive">
          <div class="materialTableHeader">
            <div class="row">
              <div class="col-12">
                <ul class="header-buttons">
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" [routerLink]="['/gestion-medidores/medidores/crear']">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                      <!-- R.I. REQSCOM09 07/08/2023 INICIO -->
                      <button mat-mini-fab color="primary" matTooltip="XLSX" (click)="exportFile()">
                        <mat-icon class="col-white">download</mat-icon>
                      </button>
                      <!-- R.I. REQSCOM09 07/08/2023 FIN -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <mat-table #table [dataSource]="medidorPaginacion" matSort>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Nro
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class="cell-with-spacing">
                {{ i + 1}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nroMedidor">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Nro medidor
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.nro_medidor}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="marca">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Marca
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.marca}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="modelo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Modelo
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.modelo}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Estado
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.estado}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="usuario">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Usuario
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.usuario}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaEstado">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha estado
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.fecha_estado | date:'dd-MM-yyyy HH:mm:ss'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaCreacion">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha creación
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="cell-with-spacing">
                {{row.fecha_creacion | date:'dd-MM-yyyy HH:mm:ss'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Acción
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button class="btn tblActnBtn h-auto cell-with-spacing" mat-menu-item
                  [routerLink]="['/gestion-medidores/medidores/editar', row.id]">
                  <i class="material-icons align-middle">create</i>
                  <span></span>
                </button>
                <button class="btn tblActnBtn h-auto cell-with-spacing" mat-menu-item
                  [routerLink]="['/gestion-medidores/medidores/ver', row.id]">
                  <i class="material-icons align-middle">visibility</i>
                  <span></span>
                </button>
                <!--   <button class="btn tblActnBtn h-auto" mat-menu-item (click)="dialogEliminarMedidor(row)" *ngIf="row.estado == 'Creado'">
                    <i class="material-icons align-middle">delete_forever</i>
                    <span></span>
                  </button> -->
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="totalElements" [pageIndex]="page" [pageSize]="totalPages"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChanged($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>